In [1]:
import pandas as pd
import numpy as np

%matplotlib inline 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_csv("D:/ESAA/project/data/movies_metadata.csv")

C:\ProgramData\Anaconda3\envs\testtest\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# 1. adult
False인 관측치만 냅두고 나머지는 다 제거함

In [3]:
pd.value_counts(data["adult"])

False                                                                                                                             45454
True                                                                                                                                  9
 - Written by Ørnås                                                                                                                   1
 Avalanche Sharks tells the story of a bikini contest that turns into a horrifying affair when it is hit by a shark avalanche.        1
 Rune Balot goes to a casino connected to the October corporation to try to wrap up her case once and for all.                        1
Name: adult, dtype: int64

In [4]:
data=data[data["adult"]=="False"]

In [5]:
data[data["adult"]!="False"]

Empty DataFrame
Columns: [adult, belongs_to_collection, budget, genres, homepage, id, imdb_id, original_language, original_title, overview, popularity, poster_path, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, video, vote_average, vote_count]
Index: []

[0 rows x 24 columns]

In [6]:
pd.value_counts(data["adult"])

False    45454
Name: adult, dtype: int64

# 2. belongs_to_collection
collection이 있는 관측치는 collection name만 뽑아서 저장.

In [7]:
data["belongs_to_collection"].describe()

count                                                  4491
unique                                                 1695
top       {'id': 415931, 'name': 'The Bowery Boys', 'pos...
freq                                                     29
Name: belongs_to_collection, dtype: object

In [8]:
data["belongs_to_collection"].notnull()

0         True
1        False
2         True
3        False
4         True
         ...
45461    False
45462    False
45463    False
45464    False
45465    False
Name: belongs_to_collection, Length: 45454, dtype: bool

In [9]:
data["belongs_to_collection"]

0        {'id': 10194, 'name': 'Toy Story Collection', ...
1                                                      NaN
2        {'id': 119050, 'name': 'Grumpy Old Men Collect...
3                                                      NaN
4        {'id': 96871, 'name': 'Father of the Bride Col...
                               ...
45461                                                  NaN
45462                                                  NaN
45463                                                  NaN
45464                                                  NaN
45465                                                  NaN
Name: belongs_to_collection, Length: 45454, dtype: object

In [10]:
type(data["belongs_to_collection"][0])

str

In [11]:
type(data["belongs_to_collection"][1])

float

In [12]:
collection=[]
for string in data["belongs_to_collection"]:
    if type(string)==float:
        collection.append(float("Nan"))
    else:
        col_dict=eval(string)
        collection.append(col_dict["name"])

In [13]:
collection

['Toy Story Collection',
 nan,
 'Grumpy Old Men Collection',
 nan,
 'Father of the Bride Collection',
 nan,
 nan,
 nan,
 nan,
 'James Bond Collection',
 nan,
 nan,
 'Balto Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 'Ace Ventura Collection',
 nan,
 'Chili Palmer Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Babe Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Mortal Kombat Collection',
 nan,
 nan,
 nan,
 'Pocahontas Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'The Lawnmower Man Collection',
 nan,
 nan,
 'Friday Collection',
 'From Dusk Till Dawn Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 'Screamers Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'The Muppet Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'The Neverending Story Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Bad Boys Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Batman Collection',
 nan,
 nan,
 'Brooklyn Cigar Store Collection',
 nan,
 'Casper Collection',
 nan,
 nan,
 nan,
 nan,
 'Mexico Trilogy',
 nan,
 'Die Hard Collection',
 'Teenage Apocalypse Trilogy',
 nan,
 nan,
 'Free Willy Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Power Rangers Collection',
 nan,
 nan,
 nan,
 'Síť (kolekce)',
 nan,
 nan,
 'The Prophecy Collection',
 nan,
 nan,
 nan,
 nan,
 'Showgirls Collection',
 'Brooklyn Cigar Store Collection',
 nan,
 'Species Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Under Siege Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Burnt by the Sun Trilogy',
 nan,
 'Before... Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Clerks Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Dumb and Dumber Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'A Goofy Movie Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'The Vampire Chronicles',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Star Wars Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Nemesis Collection',
 nan,
 nan,
 nan,
 'Once were Warriors Collection',
 'Poison Ivy Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Three Colors Collection',
 'Three Colors Collection',
 'Three Colors Collection',
 nan,
 nan,
 nan,
 nan,
 'Swan Princess Series',
 nan,
 nan,
 nan,
 'The Santa Clause Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Tales from the Crypt Collection',
 'Star Trek: The Next Generation Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Ace Ventura Collection',
 nan,
 nan,
 nan,
 nan,
 'The Jack Ryan Collection',
 nan,
 nan,
 nan,
 'The Crow Collection',
 nan,
 'The Flintstones (Live-Action) Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'The Lion King Collection',
 nan,
 'A Nightmare on Elm Street Collection',
 'The Mask Collection',
 nan,
 nan,
 'Naked Gun Collection',
 nan,
 nan,
 nan,
 'Richie Rich Collection',
 nan,
 nan,
 'Speed Collection',
 nan,
 'Timecop Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Street Fighter',
 nan,
 nan,
 nan,
 'Fear Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Highlander Collection',
 nan,
 nan,
 nan,
 nan,
 'Addams Family Collection',
 nan,
 nan,
 nan,
 nan,
 'Stakeout Collection',
 nan,
 nan,
 nan,
 nan,
 'Beverly Hills Cop Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'City Slickers Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'The Endless Summer Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Free Willy Collection',
 nan,
 'The Fugitive / U.S. Marshals Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Hard Target Collection',
 nan,
 'Hot Shots! Collection',
 nan,
 nan,
 nan,
 'House Party Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Jurassic Park Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'The Karate Kid Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'RoboCop Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'The Secret Garden Collection',
 nan,
 'The Shadow Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Blade Runner Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'The Brady Bunch Collection',
 'Home Alone Collection',
 nan,
 'Aladdin Collection',
 'The Terminator Collection',
 nan,
 nan,
 'Batman Collection',
 'The Hannibal Lecter Anthology',
 nan,
 'Beauty and the Beast Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Candyman Collection',
 nan,
 nan,
 'Homeward Bound Collection',
 'Heavy Metal Collection',
 'Hellraiser Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'All Dogs Go to Heaven Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Mission: Impossible Collection',
 nan,
 nan,
 nan,
 nan,
 'DragonHeart Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Bloodsport Collection',
 'The Apu Collection',
 'The Apu Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Lemmy Caution Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'The Substitute Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'The Visitors Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Ghost in the Shell Collection',
 nan,
 nan,
 nan,
 'Wallace & Gromit Collection',
 nan,
 nan,
 'The Arrival Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Martin Scorsese’s World Cinema Project, Vol. 1',
 nan,
 nan,
 nan,
 nan,
 'Trainspotting Collection',
 nan,
 'Independence Day Collection',
 nan,
 nan,
 'The Hunchback of Notre Dame Collection',
 nan,
 nan,
 nan,
 nan,
 'The Nutty Professor Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'The Brady Bunch Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'The Crow Collection',
 nan,
 nan,
 'Tales from the Crypt Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Escape From ... Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'The Godfather Collection',
 nan,
 'Police Story Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Police Story Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'The Land Before Time Collection',
 nan,
 nan,
 'Halloween Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'The Space Odyssey Series',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'The Thin Man Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Living Dead Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'In the Line of Duty Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'The Mighty Ducks Collection',
 nan,
 'The Apple Dumpling Gang Collection',
 'Davy Crockett Collection',
 'Witch Mountain Collection',
 'Herbie Collection',
 'Herbie Collection',
 nan,
 'Parent Trap Collection',
 nan,
 'Homeward Bound Collection',
 'The Shaggy Dog Collection',
 nan,
 nan,
 nan,
 nan,
 nan,
 'Cinderella Collection',
 nan,
 'Caballeros Collection',
 nan,
 nan,
 nan,
 nan,
 ...]

In [14]:
data["belongs_to_collection"]=collection

In [15]:
data["belongs_to_collection"]

0                  Toy Story Collection
1                                   NaN
2             Grumpy Old Men Collection
3                                   NaN
4        Father of the Bride Collection
                      ...
45461                               NaN
45462                               NaN
45463                               NaN
45464                               NaN
45465                               NaN
Name: belongs_to_collection, Length: 45454, dtype: object

# 3. budget
type을 flaot으로 변경

In [16]:
data["budget"].describe()

count     45454
unique     1223
top           0
freq      36565
Name: budget, dtype: object

In [17]:
data["budget"]=pd.to_numeric(data["budget"])

In [18]:
data["budget"].describe()

count    4.545400e+04
mean     4.225399e+06
std      1.742576e+07
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      3.800000e+08
Name: budget, dtype: float64

# 4. genres
genres name만 포함하는 리스트 형태로 저장

In [19]:
data["genres"].describe()

count                             45454
unique                             4066
top       [{'id': 18, 'name': 'Drama'}]
freq                               5000
Name: genres, dtype: object

In [20]:
data["genres"]

0        [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1        [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2        [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3        [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                           [{'id': 35, 'name': 'Comedy'}]
                               ...
45461    [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
45462                        [{'id': 18, 'name': 'Drama'}]
45463    [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
45464                                                   []
45465                                                   []
Name: genres, Length: 45454, dtype: object

In [21]:
data["genres"][0]

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [22]:
data["genres"][45464]

'[]'

In [23]:
eval(data["genres"][0])

[{'id': 16, 'name': 'Animation'},
 {'id': 35, 'name': 'Comedy'},
 {'id': 10751, 'name': 'Family'}]

In [24]:
genres=[]
for string in data["genres"]:
    genres_list=eval(string)
    if len(genres_list)==0:
        genres.append(float("Nan"))
    else:
        genres2=[]
        for genres_dict in genres_list:
            genres_name=genres_dict["name"]
            genres2.append(genres_name)
        genres.append(genres2)

In [25]:
genres

[['Animation', 'Comedy', 'Family'],
 ['Adventure', 'Fantasy', 'Family'],
 ['Romance', 'Comedy'],
 ['Comedy', 'Drama', 'Romance'],
 ['Comedy'],
 ['Action', 'Crime', 'Drama', 'Thriller'],
 ['Comedy', 'Romance'],
 ['Action', 'Adventure', 'Drama', 'Family'],
 ['Action', 'Adventure', 'Thriller'],
 ['Adventure', 'Action', 'Thriller'],
 ['Comedy', 'Drama', 'Romance'],
 ['Comedy', 'Horror'],
 ['Family', 'Animation', 'Adventure'],
 ['History', 'Drama'],
 ['Action', 'Adventure'],
 ['Drama', 'Crime'],
 ['Drama', 'Romance'],
 ['Crime', 'Comedy'],
 ['Crime', 'Comedy', 'Adventure'],
 ['Action', 'Comedy', 'Crime'],
 ['Comedy', 'Thriller', 'Crime'],
 ['Drama', 'Thriller'],
 ['Action', 'Adventure', 'Crime', 'Thriller'],
 ['Drama', 'Fantasy', 'Science Fiction', 'Thriller'],
 ['Drama', 'Romance'],
 ['Drama'],
 ['Comedy', 'Drama', 'Family'],
 ['Drama', 'Romance'],
 ['Fantasy', 'Science Fiction', 'Adventure'],
 ['Drama', 'Crime'],
 ['Drama', 'Crime'],
 ['Science Fiction', 'Thriller', 'Mystery'],
 ['Romance', 'Adventure'],
 ['Fantasy', 'Drama', 'Comedy', 'Family'],
 ['History', 'Drama', 'Romance'],
 ['Drama'],
 ['Adventure', 'History', 'Drama', 'Family'],
 ['Comedy', 'Family', 'Romance'],
 ['Comedy', 'Drama', 'Romance'],
 ['Drama'],
 ['Drama', 'War'],
 ['Action', 'Crime', 'Drama', 'History'],
 ['Drama', 'Romance'],
 ['Action', 'Fantasy'],
 ['Fantasy', 'Drama', 'Comedy', 'Thriller'],
 ['Drama', 'Romance'],
 ['Crime', 'Mystery', 'Thriller'],
 ['Adventure', 'Animation', 'Drama', 'Family'],
 ['Drama', 'Romance'],
 ['Drama', 'Crime', 'Thriller'],
 ['Action', 'Thriller', 'Drama'],
 ['Comedy', 'Romance'],
 ['Drama', 'Foreign'],
 ['Action', 'Adventure', 'Comedy', 'Family'],
 ['Drama'],
 nan,
 ['Comedy', 'Drama', 'Romance'],
 ['Comedy', 'Drama', 'Romance'],
 ['Thriller', 'Drama', 'Mystery'],
 ['Adventure', 'Family', 'Fantasy'],
 ['Drama', 'Thriller'],
 ['Music', 'Drama', 'Family'],
 ['Comedy'],
 ['Comedy', 'Romance'],
 ['Comedy'],
 ['Action', 'Science Fiction'],
 ['Drama', 'Family'],
 ['Comedy', 'Romance'],
 ['Comedy'],
 ['Horror', 'Action', 'Thriller', 'Crime'],
 ['Action', 'Thriller', 'Romance'],
 ['Comedy', 'Drama', 'Romance'],
 ['Drama', 'History'],
 ['Drama', 'Romance'],
 ['Comedy', 'Family'],
 ['Horror', 'Science Fiction'],
 ['Documentary'],
 ['Drama', 'Thriller'],
 ['Drama', 'Thriller'],
 ['Family', 'Drama'],
 ['Drama', 'Crime'],
 ['Drama', 'Comedy'],
 ['Romance', 'Drama'],
 nan,
 ['Drama', 'Romance'],
 ['Action', 'Drama'],
 ['Adventure', 'Comedy', 'Family'],
 ['Comedy'],
 ['Crime', 'Drama', 'Thriller'],
 ['Drama'],
 ['Drama', 'Horror', 'Thriller', 'Romance'],
 ['Comedy', 'Horror', 'Romance'],
 ['Comedy', 'Drama', 'Romance'],
 ['Action', 'Adventure', 'Drama', 'Thriller'],
 ['Comedy'],
 ['Drama'],
 ['Action', 'Adventure', 'Drama', 'Science Fiction', 'Thriller'],
 ['Documentary'],
 ['Drama', 'Thriller'],
 ['Comedy', 'Crime', 'Drama'],
 ['Comedy', 'Romance'],
 ['Drama', 'Mystery', 'Science Fiction', 'Thriller'],
 ['Comedy'],
 ['Drama', 'Romance'],
 ['Drama', 'Comedy', 'Family'],
 ['Action', 'Comedy', 'Music', 'Family', 'Adventure'],
 ['Documentary'],
 ['Crime'],
 ['Action', 'Drama', 'History', 'War'],
 ['Crime', 'Drama'],
 ['Crime', 'Action', 'Comedy', 'Thriller'],
 ['Drama', 'Thriller'],
 ['Drama'],
 ['Comedy'],
 ['Documentary', 'Drama', 'Foreign'],
 ['Comedy', 'Crime', 'Drama'],
 ['Comedy', 'Romance'],
 ['Comedy', 'Drama'],
 ['Action', 'Adventure', 'Comedy', 'Drama', 'Family'],
 ['Drama'],
 ['Comedy', 'Romance'],
 ['Drama', 'Comedy', 'Romance'],
 ['Drama', 'Romance'],
 ['Comedy', 'Romance'],
 ['Fantasy'],
 ['Drama'],
 nan,
 ['Comedy', 'Romance'],
 ['Comedy', 'Drama'],
 ['Drama', 'Romance', 'War'],
 ['Action', 'Thriller', 'Mystery', 'Romance'],
 ['Comedy', 'Drama', 'Romance'],
 ['Music', 'Documentary'],
 ['Comedy'],
 ['Documentary'],
 ['Comedy'],
 ['Drama'],
 nan,
 ['Drama', 'Romance'],
 ['Comedy'],
 ['Drama'],
 ['Comedy', 'Drama', 'Romance'],
 ['Action', 'Comedy', 'Crime', 'Thriller'],
 ['Action', 'Adventure', 'Drama', 'Family'],
 ['Drama', 'Crime'],
 ['Romance', 'Drama', 'Comedy'],
 ['Crime', 'Comedy', 'Drama', 'Thriller'],
 ['Drama'],
 ['Adventure'],
 ['Drama', 'Horror'],
 ['Action', 'Crime', 'Fantasy'],
 ['Drama', 'Romance'],
 ['Drama', 'Thriller'],
 ['Comedy'],
 ['Action', 'Comedy'],
 ['Fantasy', 'Comedy', 'Family'],
 ['Mystery', 'Crime', 'Drama'],
 ['Action', 'Adventure', 'Drama', 'Mystery', 'Science Fiction', 'Thriller'],
 ['Action', 'Thriller', 'Drama'],
 ['Documentary'],
 ['Thriller', 'Action', 'Crime'],
 ['Drama', 'Mystery', 'Thriller'],
 ['Action', 'Thriller'],
 ['Action', 'Comedy', 'Crime', 'Drama'],
 ['Drama', 'Crime'],
 ['Action', 'Adventure', 'Drama', 'Romance'],
 ['Adventure'],
 ['Action', 'Crime', 'Thriller', 'Drama'],
 ['Comedy', 'Drama', 'Romance'],
 ['Adventure', 'Action', 'Drama', 'Science Fiction', 'Thriller'],
 ['Science Fiction'],
 ['Comedy', 'Drama'],
 ['Drama', 'Crime'],
 ['Drama', 'Comedy'],
 ['Mystery', 'Horror', 'Thriller'],
 ['Comedy', 'Drama'],
 ['Drama', 'Family', 'Romance'],
 ['Romance', 'Comedy'],
 ['Action', 'Adventure', 'Science Fiction', 'Family', 'Fantasy'],
 ['Comedy', 'Drama', 'Romance'],
 ['Thriller', 'Foreign'],
 ['Horror', 'Thriller'],
 ['Crime', 'Drama', 'Mystery', 'Thriller', 'Action'],
 ['Comedy'],
 ['Comedy'],
 ['Fantasy', 'Horror', 'Thriller'],
 ['Fantasy', 'Comedy', 'Drama'],
 ['Drama'],
 ['Drama', 'History', 'Romance'],
 ['Documentary'],
 ['Drama'],
 ['Comedy', 'Drama'],
 ['Comedy'],
 ['Science Fiction', 'Horror', 'Action'],
 ['Drama'],
 ['Crime', 'Drama', 'Science Fiction', 'Thriller'],
 ['Drama', 'Romance'],
 ['Thriller'],
 ['Drama', 'Fantasy'],
 ['Drama', 'Romance'],
 ['Comedy'],
 ['Action', 'Thriller'],
 ['Comedy', 'Drama', 'Family'],
 ['Documentary'],
 ['Drama', 'Romance'],
 ['Adventure', 'Action'],
 ['Drama'],
 ['Action', 'Western'],
 ['Drama'],
 ['Adventure', 'Action', 'Comedy', 'Crime', 'Family'],
 ['Drama'],
 ['Drama', 'War'],
 ['Drama', 'Romance'],
 ['Comedy'],
 ['Drama', 'Thriller'],
 ['Comedy', 'Drama'],
 ['Drama', 'Family'],
 ['Thriller', 'Drama', 'Horror', 'Mystery'],
 ['Drama', 'Family', 'Romance'],
 ['Comedy'],
 ['Romance', 'Drama', 'Comedy'],
 ['Drama', 'Thriller', 'Crime', 'Mystery', 'Romance'],
 ['Thriller'],
 ['Action', 'Adventure', 'Thriller'],
 ['Crime', 'Comedy', 'Fantasy'],
 ['Drama', 'Thriller', 'Mystery'],
 ['Crime', 'Drama', 'Mystery'],
 ['Comedy'],
 ['Comedy', 'Drama', 'Romance'],
 ['Drama', 'Mystery'],
 ['Thriller', 'Comedy', 'Crime', 'Romance'],
 ['Comedy', 'Drama', 'History'],
 ['Comedy', 'Romance'],
 ['Comedy', 'Drama', 'Romance'],
 ['Action', 'Adventure', 'Drama', 'Family'],
 ['Romance', 'Animation', 'Family', 'Comedy', 'Adventure'],
 ['Drama', 'Thriller'],
 ['Drama', 'Family', 'Fantasy'],
 ['History', 'Drama'],
 ['Drama', 'Family', 'Fantasy'],
 ['Fantasy', 'Animation', 'Science Fiction', 'Family'],
 ['Drama', 'Action', 'Thriller', 'Crime'],
 ['Documentary'],
 ['Drama', 'Fantasy'],
 ['Comedy', 'Family'],
 ['Drama', 'Music', 'Romance'],
 ['Comedy', 'Family', 'Drama'],
 ['Action', 'Thriller'],
 ['Comedy', 'Drama', 'Romance'],
 ['Horror', 'Romance'],
 ['Drama', 'Romance'],
 ['Comedy', 'Crime'],
 ['Comedy', 'Family', 'Romance'],
 ['Action', 'Drama', 'Mystery', 'Thriller'],
 ['Adventure', 'Fantasy', 'Comedy', 'Science Fiction', 'Family'],
 ['Action', 'Crime', 'Drama', 'Thriller'],
 ['Adventure', 'Action', 'Science Fiction'],
 ['Drama', 'Romance'],
 ['Drama', 'Family', 'Fantasy'],
 ['Drama'],
 ['Crime', 'Drama'],
 ['Drama', 'Romance'],
 ['Adventure', 'Drama', 'Romance', 'War'],
 ['Adventure', 'Comedy', 'Family'],
 ['Action', 'Drama'],
 ['Crime', 'Drama'],
 ['Drama', 'Romance'],
 ['Drama'],
 ['Comedy', 'Drama', 'History'],
 ['Drama', 'Horror', 'Science Fiction', 'Romance'],
 ['Action', 'Comedy', 'Family'],
 ['Comedy', 'Drama', 'Romance'],
 ['Comedy', 'Romance'],
 ['Fantasy', 'Drama', 'Family'],
 ['Comedy', 'Romance'],
 ['Comedy', 'Drama'],
 ['Crime', 'Drama'],
 ['Drama', 'Comedy'],
 ['Drama', 'Thriller'],
 ['Crime', 'Drama'],
 ['Action', 'Thriller', 'Crime', 'Drama'],
 ['Horror'],
 ['Science Fiction', 'Action', 'Thriller'],
 ['Drama', 'Romance'],
 ['Crime', 'Thriller', 'Drama'],
 ['Comedy', 'Drama', 'Romance'],
 ['Drama'],
 ['Drama', 'Romance', 'Thriller'],
 ['Action', 'Drama', 'Science Fiction', 'Thriller'],
 ['Thriller', 'Crime', 'Drama'],
 ['Comedy', 'Drama', 'Romance'],
 ['Comedy', 'Drama', 'Romance'],
 ['Thriller', 'Crime'],
 ['Drama'],
 ['Comedy', 'Drama'],
 ['Drama', 'Romance'],
 ['History', 'Drama'],
 ['Drama', 'History'],
 ['Drama', 'History'],
 ['Action', 'Western'],
 ['Drama', 'Comedy'],
 ['Drama', 'Comedy'],
 ['Drama', 'Mystery', 'Romance'],
 ['Drama', 'Music', 'Mystery'],
 ['Comedy', 'Drama', 'Mystery'],
 ['Drama'],
 ['Comedy', 'Family', 'TV Movie'],
 ['Horror', 'Drama'],
 ['Comedy', 'Drama'],
 ['Animation'],
 ['Drama', 'Family', 'Fantasy'],
 ['Action', 'Thriller'],
 ['Action', 'Adventure', 'Science Fiction'],
 ['Fantasy', 'Drama', 'Comedy', 'Family'],
 ['Drama', 'Crime'],
 ['Crime', 'Thriller'],
 ['Drama', 'Thriller'],
 ['Comedy', 'Drama'],
 ['Crime', 'Comedy'],
 ['Comedy', 'Drama', 'Romance'],
 ['Comedy'],
 ['Drama', 'Romance', 'War'],
 ['Action', 'Comedy', 'Fantasy', 'Science Fiction'],
 ['Horror', 'Comedy', 'Thriller'],
 ['Science Fiction', 'Action', 'Adventure', 'Thriller'],
 ['Crime', 'Horror', 'Thriller'],
 ['Drama', 'Romance'],
 ['Thriller', 'Horror', 'Science Fiction'],
 ['Comedy'],
 ['Drama', 'Romance'],
 ['Thriller', 'Crime'],
 ['Drama', 'War'],
 ['Romance', 'Drama'],
 ['Action', 'Crime', 'Science Fiction', 'Thriller'],
 ['Comedy', 'Drama', 'Romance'],
 ['Drama'],
 ['Comedy', 'Romance'],
 ['Drama', 'Comedy', 'Romance'],
 ['Comedy', 'Drama', 'Family'],
 ['Comedy', 'Mystery'],
 ['Drama', 'Comedy'],
 ['Drama', 'Music'],
 ['Thriller', 'Drama', 'Romance'],
 ['Action', 'Comedy', 'Thriller'],
 ['Action', 'Drama', 'Thriller'],
 ['Drama', 'Thriller', 'Crime', 'Mystery'],
 ['Comedy', 'Drama', 'Family', 'Romance'],
 ['Comedy', 'Drama'],
 ['Fantasy', 'Action', 'Thriller'],
 ['Drama'],
 ['Fantasy', 'Comedy', 'Family'],
 ['Comedy', 'Drama', 'Romance'],
 ['Comedy', 'Drama', 'Romance'],
 ['Romance', 'Drama', 'Crime'],
 ['Comedy', 'Drama', 'Romance'],
 ['Action', 'Comedy', 'Romance'],
 ['Comedy', 'Drama', 'Romance'],
 ['Adventure', 'Drama', 'Family'],
 ['Documentary', 'Foreign'],
 ['Family', 'Animation', 'Drama'],
 ['Drama', 'History'],
 ['Horror', 'Thriller', 'Mystery', 'Fantasy'],
 ['Romance', 'Comedy', 'Crime', 'Fantasy'],
 ['Action', 'Adventure', 'Comedy', 'Drama', 'Western'],
 ['Drama'],
 ['Comedy', 'Crime'],
 ['Comedy', 'Drama'],
 ['Drama'],
 ['Crime', 'Drama', 'Thriller'],
 ['Comedy', 'Family'],
 ['Drama'],
 ['Action', 'Adventure', 'Crime', 'Thriller'],
 ['Action', 'Adventure', 'Crime'],
 ['Comedy', 'Romance'],
 ['Thriller', 'Science Fiction', 'Action', 'Crime'],
 ['Action', 'Thriller'],
 ['Drama', 'Romance'],
 ['Fantasy'],
 ['Drama', 'Action', 'Western'],
 ['Action', 'Crime', 'Romance', 'Thriller'],
 ['Comedy', 'Drama'],
 ['Comedy', 'Drama'],
 ['Action', 'Comedy', 'Crime'],
 ['Drama'],
 ['Drama'],
 ['Action', 'Crime'],
 ['Crime', 'Drama', 'Romance'],
 ['Animation', 'Science Fiction'],
 ['Action', 'Adventure', 'Thriller'],
 ['Action', 'Comedy'],
 nan,
 ['Action', 'Adventure', 'Crime', 'Drama', 'Thriller'],
 ['Horror', 'Thriller'],
 ['Documentary'],
 ['Romance', 'Adventure', 'Crime', 'Drama'],
 ['Thriller', 'Drama'],
 ['Action', 'Thriller'],
 ['Comedy'],
 nan,
 ['Documentary'],
 ['Action', 'Fantasy', 'Science Fiction'],
 nan,
 ['Horror', 'Mystery', 'Thriller'],
 ['Drama', 'Romance'],
 ['Crime', 'Drama'],
 ['Comedy', 'Family', 'Fantasy'],
 ['Comedy'],
 ['Drama', 'Romance'],
 ['Comedy', 'Crime', 'Music'],
 ['Comedy', 'Family'],
 ['Action', 'Comedy'],
 ['Action', 'Adventure', 'Comedy', 'Drama', 'Western'],
 ['Comedy', 'Drama', 'Romance'],
 ['Drama', 'Comedy', 'Fantasy'],
 ['Comedy'],
 ['Action', 'Comedy', 'Crime'],
 ['Action', 'Adventure', 'Drama', 'Family'],
 ['Mystery', 'Crime', 'Drama', 'Thriller'],
 ['Drama', 'Action', 'Thriller'],
 ['Drama'],
 ['Drama', 'Romance'],
 ['Horror', 'Science Fiction', 'Thriller'],
 ['Drama', 'Romance'],
 ['Drama', 'Crime'],
 ['Comedy'],
 ['Drama', 'Comedy'],
 ['Action', 'Crime', 'Drama', 'Thriller'],
 ['Action', 'Comedy', 'Drama', 'Western'],
 ['Comedy', 'Thriller', 'Mystery'],
 ['Action', 'Adventure', 'Thriller'],
 ['Comedy', 'Science Fiction', 'Family'],
 ['Drama', 'Mystery', 'Romance', 'Thriller'],
 ['Action', 'Comedy', 'Family'],
 ['Western', 'Action', 'Comedy'],
 ['Drama'],
 ['Comedy'],
 ['Comedy', 'Drama'],
 ['Crime', 'Action', 'Science Fiction'],
 ['Documentary'],
 ['Western', 'Drama', 'Comedy', 'Romance'],
 ['Comedy'],
 ['Drama'],
 ['Drama', 'Comedy', 'Romance'],
 ['Drama'],
 ['Comedy'],
 ['Comedy', 'Drama'],
 ['Drama', 'Mystery', 'Romance'],
 ['Comedy', 'Thriller', 'Mystery', 'Romance', 'Foreign'],
 ['Comedy', 'Romance'],
 ['Drama', 'Mystery', 'Thriller'],
 ['Family', 'Adventure'],
 ['Crime', 'Drama', 'Thriller'],
 ['Adventure', 'Action', 'Thriller', 'Crime', 'Mystery'],
 ['History', 'Action', 'Drama', 'Western'],
 ['Drama', 'Action', 'Thriller'],
 ['Family', 'Comedy', 'Crime'],
 ['Drama', 'Romance'],
 ['Comedy', 'Drama'],
 ['Drama', 'Thriller'],
 ['Action', 'Adventure', 'Crime', 'Thriller'],
 ['History', 'War', 'Action', 'Drama'],
 ['Action', 'Comedy', 'War'],
 ['Comedy'],
 ['Drama', 'Comedy', 'Romance'],
 ['Romance', 'Drama'],
 ['Comedy'],
 ['Comedy', 'Drama'],
 ['Comedy', 'Drama'],
 ['Comedy'],
 ['Action', 'Drama', 'Thriller', 'Crime', 'Mystery'],
 ['Drama'],
 ['Comedy', 'Drama', 'Romance'],
 ['Drama', 'Music'],
 ['Comedy'],
 ['Action', 'Thriller', 'Crime'],
 ['Adventure', 'Science Fiction'],
 ['Thriller', 'Crime'],
 ['Action', 'Crime', 'Drama', 'Thriller'],
 ['Drama'],
 ['Action', 'Adventure', 'Drama', 'Family'],
 ['Adventure', 'Fantasy', 'Action', 'Comedy', 'Family'],
 ['Comedy', 'Family'],
 ['Action', 'Comedy', 'Western'],
 ['Drama', 'Romance'],
 ['Comedy'],
 ['Drama', 'Crime'],
 ['Drama'],
 ['Comedy', 'Mystery'],
 ['Drama', 'Action', 'Crime'],
 ['Action', 'Adventure', 'Drama', 'Thriller'],
 ['Drama', 'Romance'],
 ['Thriller', 'Comedy', 'Drama', 'Romance'],
 ['Drama', 'Comedy', 'Romance'],
 ['Drama', 'Romance'],
 ['Comedy', 'Romance'],
 ['Comedy', 'Drama', 'Family'],
 ['Comedy', 'Drama'],
 ['Adventure'],
 ['Comedy', 'Drama'],
 ['Action', 'Drama', 'Science Fiction', 'Thriller'],
 ['Comedy', 'Drama', 'Family', 'Fantasy', 'Science Fiction'],
 ['Romance', 'Drama', 'Fantasy'],
 ['Crime', 'Drama', 'Thriller'],
 ['Drama'],
 ['Drama', 'Romance'],
 ['Drama', 'Romance'],
 ['Drama'],
 ['Horror', 'Science Fiction', 'Thriller'],
 ['Comedy', 'Crime', 'Drama', 'Music', 'Mystery', 'Romance'],
 ['Comedy'],
 ['Drama', 'Romance'],
 ['Comedy', 'War'],
 ['Action', 'Drama', 'Thriller'],
 ['Comedy', 'Romance'],
 ['Action', 'Adventure', 'Crime', 'Science Fiction', 'Thriller'],
 ['Comedy'],
 ['Action', 'Crime', 'Drama', 'Thriller'],
 ['Action', 'Drama', 'Thriller'],
 ['Drama', 'Romance'],
 ['Drama'],
 ['Drama'],
 ['Drama'],
 ['Drama', 'History', 'War'],
 ['Comedy', 'Drama'],
 ['Drama'],
 ['Drama'],
 ['Drama', 'Family', 'Fantasy'],
 ['Comedy', 'Crime', 'Horror', 'Thriller'],
 ['Adventure', 'Fantasy', 'Action', 'Thriller', 'Science Fiction'],
 ['Drama', 'Romance'],
 ['Comedy', 'Drama'],
 ['Drama', 'Family'],
 ['Comedy', 'Drama'],
 ['Mystery', 'Drama', 'Comedy'],
 ['Comedy', 'Drama', 'Romance'],
 ['Drama', 'Thriller'],
 ['Science Fiction', 'Drama', 'Thriller'],
 ['Comedy', 'Drama', 'Romance'],
 ['Comedy', 'Crime', 'Romance'],
 ['Crime', 'Action', 'Mystery', 'Thriller'],
 ['History', 'Drama', 'Romance'],
 ['Adventure', 'Comedy', 'Family', 'Fantasy'],
 ['Action', 'Adventure', 'Thriller', 'Crime'],
 ['Action', 'Thriller'],
 ['Drama', 'Music'],
 ['Comedy', 'Drama', 'Family', 'Romance'],
 ['Fantasy', 'Animation', 'Family'],
 ['Action', 'Adventure', 'Comedy'],
 ['Action', 'Adventure', 'Drama', 'History', 'Western'],
 ['Drama', 'Action', 'Thriller'],
 ['Action', 'Thriller', 'Crime', 'Romance'],
 ['Documentary', 'History'],
 ['Fantasy', 'Science Fiction', 'Family', 'Animation'],
 ['Drama', 'Comedy'],
 nan,
 ['Thriller', 'Drama', 'Romance'],
 ['Comedy', 'Drama'],
 ['Drama', 'Romance'],
 ['Comedy', 'Romance'],
 ['Drama', 'Horror', 'Thriller'],
 ['Comedy', 'Romance'],
 ['Comedy', 'Drama'],
 ['Comedy', 'Drama'],
 ['Comedy', 'Family'],
 ['Drama'],
 ['TV Movie', 'Drama', 'Romance', 'Comedy'],
 ['Drama', 'Romance'],
 ['Comedy', 'Foreign'],
 ['Comedy', 'Drama'],
 ['Romance', 'Comedy', 'Family'],
 ['Comedy'],
 ['Drama', 'Family', 'Adventure'],
 ['Thriller', 'Crime', 'Drama'],
 ['Comedy', 'Drama', 'History', 'Mystery'],
 ['History', 'Documentary'],
 ['Drama', 'Comedy', 'Romance', 'Foreign'],
 ['Comedy', 'Drama'],
 ['Romance', 'Drama'],
 ['Comedy'],
 ['Comedy', 'Family'],
 ['Fantasy', 'Drama', 'Thriller', 'Mystery', 'Romance'],
 ['Animation', 'Family', 'Comedy', 'Adventure', 'Fantasy', 'Romance'],
 ['Action', 'Thriller', 'Science Fiction'],
 ['Adventure', 'Drama', 'Western'],
 ['Thriller', 'Action', 'Drama'],
 ['Fantasy', 'Action'],
 ['Crime', 'Drama', 'Thriller'],
 ['Fantasy', 'Animation', 'Family'],
 ['Romance', 'Family', 'Animation', 'Fantasy', 'Music'],
 ['Animation', 'Family'],
 ['Romance', 'Comedy'],
 ['Comedy', 'Drama', 'Fantasy'],
 ['Adventure', 'Western'],
 ['Crime', 'Thriller'],
 ['Drama', 'Foreign', 'Romance'],
 nan,
 ['Comedy', 'Romance'],
 ['Comedy', 'Romance'],
 ['Horror'],
 ['Romance', 'Drama'],
 ['Crime', 'Drama', 'Thriller'],
 ['Adventure', 'Comedy', 'Drama', 'Family'],
 ['Animation', 'Science Fiction'],
 ['Horror', 'Thriller', 'Science Fiction'],
 ['Comedy', 'Romance'],
 ['Drama', 'Romance'],
 ['Drama', 'Mystery', 'Thriller'],
 ['Comedy', 'Foreign'],
 ['Animation', 'Comedy', 'Family', 'Adventure'],
 ['Drama', 'Romance'],
 ['Comedy', 'Romance'],
 ['Comedy', 'Family'],
 ['Adventure', 'Drama', 'Documentary'],
 ['Drama'],
 nan,
 ['Thriller', 'Action', 'Drama'],
 ['Comedy', 'Drama'],
 ['Comedy', 'Thriller', 'Crime', 'Romance'],
 ['Comedy', 'Thriller', 'Crime', 'Drama'],
 ['Crime', 'Drama', 'Mystery', 'Thriller'],
 nan,
 ['Drama', 'Romance'],
 ['Romance', 'Animation', 'Family', 'Adventure', 'Fantasy'],
 ['Drama', 'History', 'War', 'Romance'],
 ['Comedy'],
 ['Fantasy', 'Science Fiction', 'Family'],
 ['Comedy', 'Drama'],
 ['Drama', 'Thriller'],
 ['Comedy', 'Family'],
 ['Comedy', 'Drama', 'Romance'],
 ['Comedy'],
 ['Drama', 'Horror', 'Mystery', 'Thriller'],
 ['Adventure', 'Drama', 'Comedy', 'Family'],
 ['Romance', 'Drama'],
 ['Comedy'],
 ['Comedy'],
 ['Drama', 'Romance'],
 ['Drama', 'Thriller', 'Mystery', 'War'],
 ['Adventure', 'Action', 'Thriller'],
 ['Drama', 'Comedy'],
 ['Drama', 'Romance'],
 ['Comedy'],
 ['Horror', 'Mystery', 'Thriller'],
 ['Fantasy'],
 ['Drama'],
 ['Drama'],
 ['Action', 'Comedy'],
 ['Drama', 'Comedy'],
 nan,
 ['Crime', 'Drama', 'Thriller'],
 ['Romance', 'Comedy', 'Drama'],
 ['Adventure', 'Animation', 'Family'],
 ['Drama', 'Thriller', 'Romance'],
 ['Comedy'],
 ['Comedy', 'Crime', 'Drama'],
 ['War', 'Drama', 'Comedy'],
 ['War', 'Drama', 'Romance'],
 ['Action', 'Thriller'],
 ['Drama'],
 ['Drama'],
 ['Comedy', 'Science Fiction'],
 nan,
 ['Animation', 'Comedy', 'Drama', 'Family', 'Fantasy'],
 ['Science Fiction'],
 ['Thriller', 'Action', 'Drama'],
 ['Comedy', 'Horror', 'Science Fiction'],
 ['Drama', 'Thriller'],
 ['Drama', 'Romance'],
 ['Drama', 'Science Fiction', 'Mystery'],
 ['Drama'],
 ['Documentary', 'Foreign'],
 nan,
 ['Horror', 'Drama', 'Thriller'],
 ['Drama'],
 ['Drama', 'Romance'],
 ['Action', 'Adventure', 'Comedy', 'Family'],
 ['Drama', 'Romance'],
 ['Comedy', 'Romance', 'Drama'],
 ['Action', 'Adventure', 'Science Fiction', 'Thriller'],
 ['Drama', 'Foreign'],
 ['Action', 'Thriller'],
 ['Crime', 'Mystery', 'Thriller'],
 ['Crime', 'Drama', 'Romance', 'Thriller'],
 ['Action', 'Comedy', 'Drama', 'Thriller'],
 ['Drama', 'Romance'],
 nan,
 ['Comedy', 'Drama', 'Family', 'Romance'],
 ['Drama', 'History'],
 ['Drama'],
 ['Romance', 'Drama', 'Mystery'],
 ['Action', 'Adventure'],
 ['Comedy', 'Romance'],
 ['Drama'],
 ['Drama', 'Mystery', 'Thriller'],
 ['Comedy', 'Romance'],
 ['Animation', 'Comedy', 'Family'],
 ['Comedy'],

In [26]:
data["genres"]=genres

In [27]:
data["genres"]

0         [Animation, Comedy, Family]
1        [Adventure, Fantasy, Family]
2                   [Romance, Comedy]
3            [Comedy, Drama, Romance]
4                            [Comedy]
                     ...
45461                 [Drama, Family]
45462                         [Drama]
45463       [Action, Drama, Thriller]
45464                             NaN
45465                             NaN
Name: genres, Length: 45454, dtype: object

# 5. homepage
변수 삭제

In [28]:
data["homepage"]

0        http://toystory.disney.com/toy-story
1                                         NaN
2                                         NaN
3                                         NaN
4                                         NaN
                         ...
45461    http://www.imdb.com/title/tt6209470/
45462                                     NaN
45463                                     NaN
45464                                     NaN
45465                                     NaN
Name: homepage, Length: 45454, dtype: object

In [29]:
del data["homepage"]

In [30]:
data.head()

,adult,belongs_to_collection,budget,genres,id,imdb_id,original_language,original_title,overview,popularity,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,Toy Story Collection,30000000,"[Animation, Comedy, Family]",862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.9469,...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[Adventure, Fantasy, Family]",8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.0155,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,Grumpy Old Men Collection,0,"[Romance, Comedy]",15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[Comedy, Drama, Romance]",31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.85949,...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,Father of the Bride Collection,0,[Comedy],11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.38752,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

# 6. id
type를 object에서 int로 변경 후 
같은 값 갖는 관측치는 하나만 남겨놓고 삭제

In [31]:
data["id"].describe()

count      45454
unique     45424
top       141971
freq           3
Name: id, dtype: object

In [32]:
data["id"]=pd.to_numeric(data["id"],errors='coerce')

In [33]:
pd.value_counts(data["id"])

141971    3
22649     2
12600     2
109962    2
14788     2
         ..
376934    1
86751     1
19164     1
29403     1
276895    1
Name: id, Length: 45424, dtype: int64

In [34]:
data[data["id"]==141971]

,adult,belongs_to_collection,budget,genres,id,imdb_id,original_language,original_title,overview,popularity,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
13261,False,NaN,0,"[Thriller, Mystery]",141971,tt1180333,fi,Blackout,Recovering from a nail gun shot to the head an...,0.411949,...,2008-12-26,0.0,108.0,"[{'iso_639_1': 'fi', 'name': 'suomi'}]",Released,Which one is the first to return - memory or t...,Blackout,False,6.7,3.0
13375,False,NaN,0,"[Thriller, Mystery]",141971,tt1180333,fi,Blackout,Recovering from a nail gun shot to the head an...,0.411949,...,2008-12-26,0.0,108.0,"[{'iso_639_1': 'fi', 'name': 'suomi'}]",Released,Which one is the first to return - memory or t...,Blackout,False,6.7,3.0
16764,False,NaN,0,"[Thriller, Mystery]",141971,tt1180333,fi,Blackout,Recovering from a nail gun shot to the head an...,0.411949,...,2008-12-26,0.0,108.0,"[{'iso_639_1': 'fi', 'name': 'suomi'}]",Released,Which one is the first to return - memory or t...,Blackout,False,6.7,3.0

In [35]:
data=data.drop_duplicates(["id"],keep="first")

In [36]:
pd.value_counts(data["id"])

2047      1
46492     1
38264     1
327029    1
62836     1
         ..
33765     1
176867    1
376934    1
86751     1
276895    1
Name: id, Length: 45424, dtype: int64

In [37]:
np.sum(data.duplicated(["id"]))

0

# 7. imdb_id
기존에 존재하던 중복행은 위의 전처리 과정들에서 모두 해결

영화별 고유값같은데 이미 id가 그 역할 해주고 있으니깐 그냥 제거

In [38]:
data["imdb_id"].describe()

count         45407
unique        45407
top       tt0425985
freq              1
Name: imdb_id, dtype: object

In [39]:
np.sum(pd.value_counts(data["imdb_id"])>1)

0

In [40]:
del data["imdb_id"]

In [41]:
data.head()

,adult,belongs_to_collection,budget,genres,id,original_language,original_title,overview,popularity,poster_path,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,Toy Story Collection,30000000,"[Animation, Comedy, Family]",862,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.9469,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[Adventure, Fantasy, Family]",8844,en,Jumanji,When siblings Judy and Peter discover an encha...,17.0155,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,Grumpy Old Men Collection,0,"[Romance, Comedy]",15602,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[Comedy, Drama, Romance]",31357,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.85949,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,Father of the Bride Collection,0,[Comedy],11862,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.38752,/e64sOI48hQXyru7naBFyssKFxVd.jpg,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

# 8. original_language
모든 변수 전처리 끝난 후에 영어 영화만 따로 모은 데이터 추출 예정

Nan인 애들은 뒤에 spoken_language 변수 정리할때 다시 처리

In [42]:
data["original_language"].describe()

count     45413
unique       89
top          en
freq      32246
Name: original_language, dtype: object

In [43]:
pd.value_counts(data["original_language"])

en    32246
fr     2436
it     1528
ja     1347
de     1079
      ...
jv        1
uz        1
rw        1
cy        1
la        1
Name: original_language, Length: 89, dtype: int64

In [44]:
np.sum(pd.isnull(data["original_language"]))

11

In [45]:
data[pd.isnull(data["original_language"])==True]

,adult,belongs_to_collection,budget,genres,id,original_language,original_title,overview,popularity,poster_path,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
19574,False,NaN,0,[Documentary],283101,NaN,Shadowing the Third Man,Documentary about the production of The Third ...,0.017007,/xT9csxMKYbizRQgvNzCXJ67R7er.jpg,...,2004-10-11,0.0,95.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,NaN,Shadowing the Third Man,False,0.0,0.0
21602,False,NaN,0,"[Romance, Drama]",103902,NaN,Unfinished Sky,An Outback farmer takes in an Afghani woman wh...,0.359818,/vfaJuZF0ocVwBEDYZhoULGuVxrz.jpg,...,2007-08-04,0.0,94.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Unfinished Sky,False,6.4,8.0
22832,False,NaN,0,"[War, Western]",359195,NaN,13 Fighting Men,A group of Union Army soldiers is charged with...,0.070647,/q5ADXvvzYtAOyrReIg1HckdPj62.jpg,...,1960-03-31,0.0,69.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,13 Fighting Men,False,0.0,0.0
32141,False,NaN,0,[Comedy],147050,NaN,Lambchops,George and Gracie enter an elegant drawing roo...,0.073418,/upQByEwY58sHWdL3RZm7kmRc44s.jpg,...,1929-10-31,0.0,8.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Lambchops,False,6.5,2.0
37407,False,NaN,0,[Animation],257095,NaN,Bajaja,The first fairy tale transformed into a full-l...,0.036841,/12wf2EkrPGxNzRbNyoau8GIFp3M.jpg,...,1950-01-26,0.0,87.0,"[{'iso_639_1': 'cs', 'name': 'Český'}]",Released,NaN,Prince Bayaya,False,5.0,1.0
41047,False,NaN,0,[Documentary],332742,NaN,Song of Lahore,"Until the late 1970s, the Pakistani city of La...",0.373688,/6iJqscs2xQLKKvrTCWmlHd9rf3W.jpg,...,2015-11-13,0.0,82.0,"[{'iso_639_1': 'ur', 'name': 'اردو'}, {'iso_63...",Released,NaN,Song of Lahore,False,6.5,2.0
41872,False,NaN,0,[Documentary],144410,NaN,Annabelle Serpentine Dance,Two dancers perform in succession facing a sta...,1.58434,/l7Lzvah6PL6vdMF5p0elKiyYqp9.jpg,...,1895-04-01,0.0,1.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,Annabelle Serpentine Dance,False,5.7,20.0
44057,False,NaN,0,[Drama],380438,NaN,Lettre d'une inconnue,NaN,0.001283,/gk32ZWTYgfTXctEyCDAWeMcxo7X.jpg,...,2001-01-01,0.0,0.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,Lettre d'une inconnue,False,0.0,0.0
44410,False,NaN,0,"[Animation, Documentary]",381096,NaN,Garn,The traditional crafts of crochet and knitting...,0.067624,/olEOCEGTW15WBPC0UnmLjokrmNF.jpg,...,2016-03-12,0.0,76.0,"[{'iso_639_1': 'sv', 'name': 'svenska'}, {'iso...",Released,NaN,Yarn,False,0.0,0.0
44576,False,NaN,0,NaN,381525,NaN,WiNWiN,American investment fund buys Austrian compani...,0.030766,/pErCRQoc3nt8lCsExd3fFYgyBox.jpg,...,2016-01-27,0.0,84.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,NaN,WiNWiN,False,0.0,0.0
44655,False,NaN,0,"[Action, War, Drama, History]",104473,NaN,La prise de Tournavos,"Three military men, seen inside a fortificatio...",0.471325,/4VmQBE9qBRxCE3gHtSAa5AUsURq.jpg,...,1897-01-01,0.0,1.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Rumored,NaN,The Surrender of Tournavos,False,4.6,5.0

우선 냅두고 넘어간 다음에 뒤에가서 지정해줄게요!

# 9. original_title

In [46]:
data["original_title"].describe()

count      45424
unique     43363
top       Hamlet
freq           8
Name: original_title, dtype: object

In [47]:
pd.value_counts(data["original_title"])

Hamlet                  8
Alice in Wonderland     8
Cinderella              7
Les Misérables          7
Macbeth                 7
                       ..
La femme de mon pote    1
Make Believe            1
生きてゐる孫六                 1
La Bandera              1
うさぎドロップ                 1
Name: original_title, Length: 43363, dtype: int64

In [48]:
data[data["original_title"]=="Alice in Wonderland"]

,adult,belongs_to_collection,budget,genres,id,original_language,original_title,overview,popularity,poster_path,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
1003,False,NaN,3000000,"[Animation, Adventure, Family, Fantasy]",12092,en,Alice in Wonderland,"On a golden afternoon, young Alice follows a W...",16.4889,/9gJa2B6M8jt85aDkb0MF98MLZ9T.jpg,...,1951-07-03,5.720000e+08,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A world of wonders in One Great Picture,Alice in Wonderland,False,7.0,1557.0
9665,False,NaN,21000000,"[Fantasy, Family]",30923,en,Alice in Wonderland,Alice follows a white rabbit down a rabbit-hol...,8.6143,/c53p3QRI0BNx7KE1zH8fXoWq4sM.jpg,...,1999-02-28,0.000000e+00,150.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A Masterpiece of Imagination...,Alice in Wonderland,False,6.1,71.0
11887,False,NaN,14000000,"[Family, Fantasy]",34573,en,Alice in Wonderland,Classic tale of a girl named Alice who follows...,3.79413,/1jlw8lSaLetDP4XqioTgK6R38Lt.jpg,...,1985-12-09,0.000000e+00,187.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Alice in Wonderland,False,6.3,15.0
14892,False,Alice in Wonderland Collection,200000000,"[Family, Fantasy, Adventure]",12155,en,Alice in Wonderland,"Alice, an unpretentious and individual 19-year...",17.2851,/pvEE5EN5N1yjmHmldfL4aJWm56l.jpg,...,2010-03-03,1.025491e+09,108.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,You're invited to a very important date.,Alice in Wonderland,False,6.4,4773.0
15868,False,NaN,0,"[Action, Adventure, Family, Fantasy, Science F...",25694,en,Alice in Wonderland,"On a boring winter afternoon, Alice dreams, th...",1.50435,/hA536GMozYb9zbMjo2NqESniveU.jpg,...,1933-12-22,0.000000e+00,76.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Entertainment Miracle Of All Times!,Alice in Wonderland,False,5.4,8.0
26894,False,NaN,0,"[Family, Fantasy, Science Fiction]",35109,en,Alice in Wonderland,Alice in Wonderland (1966) is a BBC television...,1.71604,/dWnbHEZ31kMOx8cnN7IvG3fBpwp.jpg,...,1966-12-26,0.000000e+00,72.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Alice in Wonderland,False,6.9,8.0
32901,False,NaN,0,"[Family, Fantasy]",87300,en,Alice in Wonderland,A German adaptation of the classic Lewis Carro...,0.140291,/9YJqY2MWOUzy60iMhniOF4NEZRs.jpg,...,1915-01-15,0.000000e+00,52.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Alice in Wonderland,False,5.5,2.0
39530,False,NaN,0,[Fantasy],41278,en,Alice in Wonderland,This is the first movie version of the famous ...,0.708323,/rATc0e78ORRmJyvgqAywkejdgqh.jpg,...,1903-10-17,0.000000e+00,9.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,Alice in Wonderland,False,6.1,20.0

위에서 중복행은 제거해줬기 때문에 같은 제목으로 나오는 영화들은 모두 다른 영화

# 10. overview

In [49]:
data["overview"].describe()

count                  44470
unique                 44297
top       No overview found.
freq                     133
Name: overview, dtype: object

In [50]:
data["overview"].value_counts()

No overview found.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     133
No Overview                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              7
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         5
Adaptation of the Jane Austen novel.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     3
No movie overview available.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             3
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ...
It’s been a few years, and there’s still not a lot going on 40 kilometers from nowhere. But that’s all about to change as the fine folks of Dog River, Saskatchewan face their biggest crisis ever. Brent and the gang discover that the town’s been badly mismanaged, leaving residents with little choice but to pack up and leave. As residents make one last rally to save Dog River as they know it, they discover a devious plan by a corporate chain that would change life for Dog Riverites forever.                                                                                                                                                                                                                                                                                                                                                                            1
A young man drops out of university and goes to the police. He's done nothing wrong he just wants a job. A particular job. Playing the victim in murder reconstructions. Maybe by getting close to death he can manage to cheat on his own.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              1
Mike Bassett: England Manager is an hilarious British Comedy that stars Ricky Thomlinson. Featuring Cameos from Barry Venison, Gabby Yorath, Atomic Kitten and Pele.When the England manager has a heart attack, footballs' top brass turn to Mike Bassett (basically no one else wanted the job). England lose Mike's first two games in charge. His team struggles to a goal-less draw in the final qualifying match but, thanks to a fluke result elsewhere, England qualify for the finals in Brazil.In South America things go from bad to worse. Pressure is mounting for Mike. An embarrassing drunken performance caught by a new photographer seals his fate as the most unpopular Englishman ever.However, Mike makes an impassioned plea for the country to get behind him - fans, press, players.... even his wife. Can Mike turn the tide and bring football home ? ..      1
A British diplomat is arrested on charges of working with Russian mafia. After death threats to his wife, they are taken into protective custody. Then the MI6 shows up with a new piece of the puzzle.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  1
Sam Bowden is a small-town corporate attorney. Max Cady is a tattooed, cigar-smoking, bible-quoting, psychotic rapist. What do they have in common? Fourteen years ago, Sam was a public defender assigned to Max Cady's rape trial, and he made a serious error: he hid a document from his illiterate client that could have gotten him acquitted. Now, the cagey, bibliophile Cady has been released, and he intends to teach Sam Bowden and his family a thing or two about loss.                                                                                                                                                                                                                                                                                                                                                                                                    1
Name: overview, Length: 44297, dtype: int64

In [51]:
text_counts = data["overview"].value_counts()
text_list = text_counts[text_counts > 1].index.tolist()

In [52]:
text_list

['No overview found.',
 'No Overview',
 ' ',
 'Adaptation of the Jane Austen novel.',
 'No movie overview available.',
 'A few funny little novels about different aspects of life.',
 'A film by Jem Cohen',
 'Wilbur the pig is scared of the end of the season, because he knows that come that time, he will end up on the dinner table. He hatches a plan with Charlotte, a spider that lives in his pen, to ensure that this will never happen.',
 'A former aristocrat Ippolit Vorobyaninov leads a miserable life in Soviet Russia. His mother-in-law reveals a secret to him - she hid family diamonds in one of the twelve chairs they once had. Vorobyaninov in cooperation with a young con artist Ostap Bender start a long search for the diamonds.',
 "Alien pods come to Earth and, naturally, start taking over Human Hosts. One such pod only manages to take over one human's, Shin Izumi, right arm. Together they grow and co-exist, all the while the other aliens are making meals of other humans; Shin feels he must put a stop to it all, but his alien, Migi, doesn't see why.",
 "Blanche Dubois goes to visit her pregnant sister and husband Stanley in New Orleans. Stanley doesn't like her, and starts pushing her for information on some property he know was left to the sisters. He discovers she has mortgaged the place and spent all the money, and wants to find out all he can about her. Even more friction develops between the two while they are in the apartment together...",
 'Experimental film fragment made with the Edison-Dickson-Heise experimental horizontal-feed kinetograph camera and viewer, using 3/4-inch wide film.',
 'A Russian engineer Petr Garin possesses a unique beam-shooting weapon that can destroy any target. His goal is to achieve world domination with the help of this weapon. Vasily Shelga is out to stop him and also to prevent others getting possession of this weapon.',
 'No overview yet.',
 "The Kingdom of the People of the Vale once ruled over the land, but now all that remains is the Sword of the Vale. in the city of Eindoak. Ash, Iris, and Cilan arrive in Eindoak during a harvest festival's Pokémon Tournament and meet the legendary Pokémon Victini who wishes to share its powers of victory to someone. Elsewhere in the city, a descendant of the People of the Vale named Damon has arrived who seeks to revive the kingdom's power with the Sword of the Vale, bringing them back into power over the land, and Ash and his friends must stop him before he destroys the land along with Victini.",
 "The ghost of a samurai's wife takes revenge on her husband.",
 'Miser Ebenezer Scrooge is awakened on Christmas Eve by spirits who reveal to him his own miserable existence, what opportunities he wasted in his youth, his current cruelties, and the dire fate that awaits him if he does not change his ways. Scrooge is faced with his own story of growing bitterness and meanness, and must decide what his own future will hold: death or redemption.',
 'Director Michael Apted revisits the same group of British-born adults after a 7 year wait. The subjects are interviewed as to the changes that have occurred in their lives during the last seven years.',
 "When four women move into an old house left by one woman's aunt, strange things begin to happen. Bizarre voices, visions of ghosts, and mysterious noises lead them to discover the darkest powers of evil and a horror and agony beyond terror.",
 "Karol has everything. He has three mistresses in addition to the bride. He is charming, loves sex and enslaves women in the blink of an eye. He's also well aware of that women like and uses it for his benefits.",
 "With friends like these, who needs enemies? That's the question bad guy Porter is left asking after his wife and partner steal his heist money and leave him for dead -- or so they think. Five months and an endless reservoir of bitterness later, Porter's partners and the crooked cops on his tail learn how bad payback can be.",
 "King Lear, old and tired, divides his kingdom among his daughters, giving great importance to their protestations of love for him. When Cordelia, youngest and most honest, refuses to idly flatter the old man in return for favor, he banishes her and turns for support to his remaining daughters. But Goneril and Regan have no love for him and instead plot to take all his power from him. In a parallel, Lear's loyal courtier Gloucester favors his illegitimate son Edmund after being told lies about his faithful son Edgar. Madness and tragedy befall both ill-starred fathers.",
 "Mary, a writer working on a novel about a love triangle, is attracted to her publisher. Her suitor Jimmy is determined to break them up; he introduces Mary to the publisher's wife without telling Mary who she is.",
 "Nick Carraway, a young Midwesterner now living on Long Island, finds himself fascinated by the mysterious past and lavish lifestyle of his neighbor, the nouveau riche Jay Gatsby. He is drawn into Gatsby's circle, becoming a witness to obsession and tragedy.",
 'A wooden boy Buratino tries to find his place in life. He befriends toys from a toy theater owned by evil Karabas-Barabas, gets tricked by Alice the Fox and Basilio the Cat and finally discovers the mystery of a golden key given to him by kind Tortila the Tortoise.',
 'Funny, entertaining comedy with a few storylines. All of them have one thing in common - a resort town of Rimini in Italy.',
 "A group of travelers, including a monk, stay in a lonely inn in the mountains. The host confesses the monk his habit of serving poisoned soup to the guests, to rob their possessions and to bury them in the backyard. The story unfolds as the monk tries to save the guest's lives without violating the holy secrecy of the confession.",
 'Adventurer Allan Quartermain leads an expedition into uncharted African territory in an attempt to locate an explorer who went missing during his search for the fabled diamond mines of King Solomon.',
 'Bollywood 2009',
 "Poor but happy, young Nello and his grandfather live alone, delivering milk as a livelihood, in the outskirts of Antwerp, a city in Flanders (the Flemish or Dutch-speaking part of modern-day Belgium). They discover a beaten dog (a Bouvier, a large sturdy dog native to Flanders) and adopt it and nurse it back to health, naming it Patrasche, the middle name of Nello's mother Mary, who died when Nello was very young. Nello's mother was a talented artist, and like his mother, he delights in drawing, and his friend Aloise is his model and greatest fan and supporter.",
 'An abstract animation from Walter Ruttmann.']

In [53]:
overview_list=[]
for overview in data["overview"]:
    if overview=="No overview found.":
        overview_list.append("")
    elif overview=="No Overview":
        overview_list.append("")
    elif overview==" ":
        overview_list.append("")
    elif overview=="No movie overview available.":
        overview_list.append("")
    else:
        overview_list.append(overview)

In [54]:
data["overview"]=overview_list

In [55]:
data["overview"]

0        Led by Woody, Andy's toys live happily in his ...
1        When siblings Judy and Peter discover an encha...
2        A family wedding reignites the ancient feud be...
3        Cheated on, mistreated and stepped on, the wom...
4        Just when George Banks has recovered from his ...
                               ...
45461          Rising and falling between a man and woman.
45462    An artist struggles to finish his work while a...
45463    When one of her hits goes wrong, a professiona...
45464    In a small town live two brothers, one a minis...
45465    50 years after decriminalisation of homosexual...
Name: overview, Length: 45424, dtype: object

# 11. popularity
type을 object에서 numeric으로 변환

In [56]:
data["popularity"].describe()

count     45421
unique    44149
top         0.0
freq         34
Name: popularity, dtype: object

In [57]:
data["popularity"]=pd.to_numeric(data["popularity"],errors='coerce')

In [58]:
data["popularity"].describe()

count    45421.000000
mean         2.921493
std          6.007204
min          0.000000
25%          0.385850
50%          1.127098
75%          3.678394
max        547.488298
Name: popularity, dtype: float64

# 12. poster_path
제거

In [59]:
del data["poster_path"]

In [60]:
data.head()

,adult,belongs_to_collection,budget,genres,id,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,Toy Story Collection,30000000,"[Animation, Comedy, Family]",862,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[Adventure, Fantasy, Family]",8844,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,Grumpy Old Men Collection,0,"[Romance, Comedy]",15602,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.712900,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[Comedy, Drama, Romance]",31357,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,Father of the Bride Collection,0,[Comedy],11862,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...",...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

# 13. production_companies

In [61]:
data["production_companies"].describe()

count     45421
unique    22704
top          []
freq      11865
Name: production_companies, dtype: object

In [62]:
data["production_companies"]

0           [{'name': 'Pixar Animation Studios', 'id': 3}]
1        [{'name': 'TriStar Pictures', 'id': 559}, {'na...
2        [{'name': 'Warner Bros.', 'id': 6194}, {'name'...
3        [{'name': 'Twentieth Century Fox Film Corporat...
4        [{'name': 'Sandollar Productions', 'id': 5842}...
                               ...
45461                                                   []
45462               [{'name': 'Sine Olivia', 'id': 19653}]
45463    [{'name': 'American World Pictures', 'id': 6165}]
45464                 [{'name': 'Yermoliev', 'id': 88753}]
45465                                                   []
Name: production_companies, Length: 45424, dtype: object

In [63]:
companies=[]
for string in data["production_companies"]:
    if type(string)==float:
        companies.append(float("Nan"))
    else:
        companies_list=eval(string)
        if len(companies_list)==0:
            companies.append(float("Nan"))
        else:
            companies2=[]
            for companies_dict in companies_list:
                companies_name=companies_dict["name"]
                companies2.append(companies_name)
            companies.append(companies2)

In [64]:
data["production_companies"]=companies

In [65]:
data["production_companies"]

0                                [Pixar Animation Studios]
1        [TriStar Pictures, Teitler Film, Interscope Co...
2                           [Warner Bros., Lancaster Gate]
3                 [Twentieth Century Fox Film Corporation]
4             [Sandollar Productions, Touchstone Pictures]
                               ...
45461                                                  NaN
45462                                        [Sine Olivia]
45463                            [American World Pictures]
45464                                          [Yermoliev]
45465                                                  NaN
Name: production_companies, Length: 45424, dtype: object

# 14. production_countries

In [66]:
data["production_countries"].describe()

count                                                 45421
unique                                                 2390
top       [{'iso_3166_1': 'US', 'name': 'United States o...
freq                                                  17838
Name: production_countries, dtype: object

In [67]:
data["production_countries"]

0        [{'iso_3166_1': 'US', 'name': 'United States o...
1        [{'iso_3166_1': 'US', 'name': 'United States o...
2        [{'iso_3166_1': 'US', 'name': 'United States o...
3        [{'iso_3166_1': 'US', 'name': 'United States o...
4        [{'iso_3166_1': 'US', 'name': 'United States o...
                               ...
45461               [{'iso_3166_1': 'IR', 'name': 'Iran'}]
45462        [{'iso_3166_1': 'PH', 'name': 'Philippines'}]
45463    [{'iso_3166_1': 'US', 'name': 'United States o...
45464             [{'iso_3166_1': 'RU', 'name': 'Russia'}]
45465     [{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]
Name: production_countries, Length: 45424, dtype: object

In [68]:
countries=[]
for string in data["production_countries"]:
    if type(string)==float:
        countries.append(float("Nan"))
    else:
        countries_list=eval(string)
        if len(countries_list)==0:
            countries.append(float("Nan"))
        else:
            countries2=[]
            for countries_dict in countries_list:
                countries_name=countries_dict["name"]
                countries2.append(countries_name)
            countries.append(countries2)

In [69]:
data["production_countries"]=countries

In [70]:
data["production_countries"]

0        [United States of America]
1        [United States of America]
2        [United States of America]
3        [United States of America]
4        [United States of America]
                    ...
45461                        [Iran]
45462                 [Philippines]
45463    [United States of America]
45464                      [Russia]
45465              [United Kingdom]
Name: production_countries, Length: 45424, dtype: object

In [71]:
data["production_countries"].describe()

count                          39143
unique                          2389
top       [United States of America]
freq                           17838
Name: production_countries, dtype: object

# 15. release_date
datetime으로 변환

In [72]:
data["release_date"].describe()

count          45338
unique         17329
top       2008-01-01
freq             136
Name: release_date, dtype: object

In [73]:
from datetime import datetime

In [74]:
date=[]
for string in data["release_date"]:
    if type(string)!=str:
        date.append(float("Nan"))
    else:
        date.append(datetime.strptime(string, "%Y-%m-%d"))

In [75]:
data["release_date"]=date

In [76]:
data["release_date"]

0       1995-10-30
1       1995-12-15
2       1995-12-22
3       1995-12-22
4       1995-02-10
           ...
45461          NaT
45462   2011-11-17
45463   2003-08-01
45464   1917-10-21
45465   2017-06-09
Name: release_date, Length: 45424, dtype: datetime64[ns]

# 16. revenue

In [77]:
data["revenue"].describe()

count    4.542100e+04
mean     1.121511e+07
std      6.435831e+07
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      2.787965e+09
Name: revenue, dtype: float64

In [78]:
np.sum(data["revenue"].isnull())

3

In [79]:
data[pd.isnull(data["revenue"])==True]

,adult,belongs_to_collection,budget,genres,id,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
19729,False,NaN,0,"[Action, Thriller, Drama]",82663,en,Midnight Man,British soldiers force a recently captured IRA...,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29502,False,Mardock Scramble Collection,0,"[Animation, Science Fiction]",122662,ja,マルドゥック・スクランブル 排気,Third film of the Mardock Scramble series.,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35586,False,NaN,0,"[TV Movie, Action, Horror, Science Fiction]",249260,en,Avalanche Sharks,A group of skiers are terrorized during spring...,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# 17. runtime

In [80]:
data["runtime"].describe()

count    45164.000000
mean        94.129196
std         38.413954
min          0.000000
25%         85.000000
50%         95.000000
75%        107.000000
max       1256.000000
Name: runtime, dtype: float64

In [81]:
np.sum(pd.isnull(data["runtime"]))

260

In [82]:
data[pd.isnull(data["runtime"])==True]

,adult,belongs_to_collection,budget,genres,id,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
634,False,NaN,0,[Comedy],287305,de,Peanuts – Die Bank zahlt alles,NaN,0.066123,[Westdeutscher Rundfunk (WDR)],...,1996-03-21,0.0,NaN,[],Released,NaN,Peanuts – Die Bank zahlt alles,False,4.0,1.0
635,False,NaN,0,[Comedy],339428,de,Happy Weekend,NaN,0.002229,[Senator Film Produktion],...,1996-03-14,65335.0,NaN,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,NaN,Happy Weekend,False,0.0,0.0
644,False,NaN,0,[Drama],278978,de,Und keiner weint mir nach,NaN,0.439989,NaN,...,1996-02-29,0.0,NaN,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,NaN,Und keiner weint mir nach,False,0.0,0.0
802,False,NaN,0,[Drama],282919,de,Diebinnen,NaN,0.106345,NaN,...,1996-06-20,0.0,NaN,[],Released,NaN,Diebinnen,False,4.0,1.0
863,False,NaN,0,[Thriller],253632,fr,Baton Rouge,NaN,0.437895,NaN,...,1988-10-08,0.0,NaN,[],Released,NaN,Baton Rouge,False,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45246,False,NaN,0,[Comedy],231216,de,Villa Henriette,NaN,0.002513,NaN,...,2004-12-02,0.0,NaN,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,NaN,Villa Henriette,False,0.0,0.0
45310,False,NaN,0,NaN,418757,pl,Między nami dobrze jest,NaN,0.030803,NaN,...,2014-08-01,0.0,NaN,[],Released,NaN,Między nami dobrze jest,False,0.0,0.0
45313,False,NaN,0,[Drama],369444,pl,Ostatni dzwonek,NaN,0.000102,NaN,...,1989-10-27,0.0,NaN,[],Released,NaN,Ostatni dzwonek,False,0.0,0.0
45377,False,NaN,0,[Adventure],317389,es,Simbad e il califfo di Bagdad,NaN,0.006352,"[Roas Produzioni, Buton Film]",...,1973-07-22,0.0,NaN,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,NaN,Simbad e il califfo di Bagdad,False,0.0,0.0
45410,False,NaN,0,"[Drama, Crime]",449131,ru,Aprel,NaN,0.008903,NaN,...,NaT,0.0,NaN,[],Released,NaN,Aprel,False,6.0,1.0

# 18. spoken_languages

In [83]:
data["spoken_languages"].describe()

count                                        45421
unique                                        1931
top       [{'iso_639_1': 'en', 'name': 'English'}]
freq                                         22375
Name: spoken_languages, dtype: object

In [84]:
np.sum(pd.isnull(data["spoken_languages"]))

3

In [85]:
data[pd.isnull(data["spoken_languages"])==True]

,adult,belongs_to_collection,budget,genres,id,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
19729,False,NaN,0,"[Action, Thriller, Drama]",82663,en,Midnight Man,British soldiers force a recently captured IRA...,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29502,False,Mardock Scramble Collection,0,"[Animation, Science Fiction]",122662,ja,マルドゥック・スクランブル 排気,Third film of the Mardock Scramble series.,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35586,False,NaN,0,"[TV Movie, Action, Horror, Science Fiction]",249260,en,Avalanche Sharks,A group of skiers are terrorized during spring...,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
language=[]
for string in data["spoken_languages"]:
    if type(string)!=str:
        language.append(float("Nan"))
    else:
        language_list=eval(string)
        if len(language_list)==0:
            language.append(float("Nan"))
        else:
            language2=[]
            for language_dict in language_list:
                language_name=language_dict["name"]
                language2.append(language_name)
            language.append(language2)

In [87]:
data["spoken_languages"]=language

In [88]:
data["spoken_languages"]

0                  [English]
1        [English, Français]
2                  [English]
3                  [English]
4                  [English]
                ...
45461                [فارسی]
45462                     []
45463              [English]
45464                    NaN
45465              [English]
Name: spoken_languages, Length: 45424, dtype: object

In [89]:
for string in data["spoken_languages"]:
    if type(string)==list:
        for lan in string:
            if lan=="":
                string.remove("")

In [90]:
data["spoken_languages"]

0                  [English]
1        [English, Français]
2                  [English]
3                  [English]
4                  [English]
                ...
45461                [فارسی]
45462                     []
45463              [English]
45464                    NaN
45465              [English]
Name: spoken_languages, Length: 45424, dtype: object

In [91]:
data = data.mask(data["spoken_languages"].map(str).eq('[]'))

In [92]:
data["spoken_languages"]

0                  [English]
1        [English, Français]
2                  [English]
3                  [English]
4                  [English]
                ...
45461                [فارسی]
45462                    NaN
45463              [English]
45464                    NaN
45465              [English]
Name: spoken_languages, Length: 45424, dtype: object

# 19. status

In [93]:
data["status"].describe()

count        45218
unique           6
top       Released
freq         44856
Name: status, dtype: object

In [94]:
pd.value_counts(data["status"])

Released           44856
Rumored              229
Post Production       97
In Production         19
Planned               15
Canceled               2
Name: status, dtype: int64

In [95]:
np.sum(pd.isnull(data["status"]))

206

In [96]:
data[pd.isnull(data["status"])==True]

,adult,belongs_to_collection,budget,genres,id,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
189,False,NaN,0.0,[Documentary],56088.0,en,The Show,A documentary about the culture of hip-hop. Th...,0.159596,NaN,...,1995-08-25,0.0,93.0,NaN,NaN,What Happens On Stage Is Only Half The Story!,The Show,False,5.3,2.0
767,False,NaN,0.0,[Documentary],52059.0,en,The Gate of Heavenly Peace,The Gate of Heavenly Peace is a feature-length...,0.107050,NaN,...,1995-01-01,0.0,180.0,NaN,NaN,NaN,The Gate of Heavenly Peace,False,6.7,3.0
773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1384,False,NaN,0.0,[Comedy],40506.0,en,Meet Wally Sparks,Wally Sparks is a tabloid TV show reporter who...,0.576741,NaN,...,1997-01-01,0.0,105.0,[English],NaN,NaN,Meet Wally Sparks,False,5.3,10.0
2140,False,NaN,0.0,NaN,77314.0,fr,The Cabinet of Dr. Ramirez,NaN,0.037500,NaN,...,1991-12-04,0.0,NaN,NaN,NaN,NaN,The Cabinet of Dr. Ramirez,False,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45067,False,NaN,0.0,"[Drama, Romance, Foreign]",49492.0,en,Jogwa - The Awakening,"Jogwa actually means alms given to a person, u...",0.004990,NaN,...,2009-09-25,0.0,92.0,NaN,NaN,The Awakening,Jogwa - The Awakening,False,0.0,0.0
45090,False,NaN,0.0,NaN,128268.0,en,Veruschka - Die Inszenierung (m)eines Körpers,Documentary about Veruschka von Lehndorff.,0.056298,NaN,...,2005-09-30,0.0,52.0,"[Deutsch, Français]",NaN,NaN,Veruschka: A Life for the Camera,False,6.0,1.0
45159,False,NaN,0.0,NaN,41811.0,en,Eating,"At a spacious house in Los Angeles, Helene is ...",0.000002,NaN,...,1990-11-30,0.0,110.0,[English],NaN,NaN,Eating,False,0.0,0.0
45442,False,NaN,0.0,NaN,44330.0,en,Le tripot clandestin,A combination gambling den and bawdy house is ...,0.219260,NaN,...,1905-01-01,0.0,3.0,NaN,NaN,NaN,The Scheming Gambler's Paradise,False,5.0,3.0
45462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Nan인 애들 중에 popularity나 revenue가 0인 아닌 애들은 개봉한거로 생각할 수 있으니깐 Released로 채울게요

In [97]:
data[pd.isnull(data["status"])==True]

,adult,belongs_to_collection,budget,genres,id,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
189,False,NaN,0.0,[Documentary],56088.0,en,The Show,A documentary about the culture of hip-hop. Th...,0.159596,NaN,...,1995-08-25,0.0,93.0,NaN,NaN,What Happens On Stage Is Only Half The Story!,The Show,False,5.3,2.0
767,False,NaN,0.0,[Documentary],52059.0,en,The Gate of Heavenly Peace,The Gate of Heavenly Peace is a feature-length...,0.107050,NaN,...,1995-01-01,0.0,180.0,NaN,NaN,NaN,The Gate of Heavenly Peace,False,6.7,3.0
773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1384,False,NaN,0.0,[Comedy],40506.0,en,Meet Wally Sparks,Wally Sparks is a tabloid TV show reporter who...,0.576741,NaN,...,1997-01-01,0.0,105.0,[English],NaN,NaN,Meet Wally Sparks,False,5.3,10.0
2140,False,NaN,0.0,NaN,77314.0,fr,The Cabinet of Dr. Ramirez,NaN,0.037500,NaN,...,1991-12-04,0.0,NaN,NaN,NaN,NaN,The Cabinet of Dr. Ramirez,False,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45067,False,NaN,0.0,"[Drama, Romance, Foreign]",49492.0,en,Jogwa - The Awakening,"Jogwa actually means alms given to a person, u...",0.004990,NaN,...,2009-09-25,0.0,92.0,NaN,NaN,The Awakening,Jogwa - The Awakening,False,0.0,0.0
45090,False,NaN,0.0,NaN,128268.0,en,Veruschka - Die Inszenierung (m)eines Körpers,Documentary about Veruschka von Lehndorff.,0.056298,NaN,...,2005-09-30,0.0,52.0,"[Deutsch, Français]",NaN,NaN,Veruschka: A Life for the Camera,False,6.0,1.0
45159,False,NaN,0.0,NaN,41811.0,en,Eating,"At a spacious house in Los Angeles, Helene is ...",0.000002,NaN,...,1990-11-30,0.0,110.0,[English],NaN,NaN,Eating,False,0.0,0.0
45442,False,NaN,0.0,NaN,44330.0,en,Le tripot clandestin,A combination gambling den and bawdy house is ...,0.219260,NaN,...,1905-01-01,0.0,3.0,NaN,NaN,NaN,The Scheming Gambler's Paradise,False,5.0,3.0
45462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# 20. tagline

In [98]:
data["tagline"].describe()

count                      20367
unique                     20249
top       Based on a true story.
freq                           7
Name: tagline, dtype: object

In [99]:
pd.value_counts(data["tagline"])

Based on a true story.                                              7
-                                                                   4
Trust no one.                                                       4
Be careful what you wish for.                                       4
Who is John Galt?                                                   3
                                                                   ..
Fear is the driving force.                                          1
Rough, tough and ready.                                             1
They should have killed him.                                        1
Witness one girl's dream take flight                                1
Four continents. Three kills... Or the love of his life is dead.    1
Name: tagline, Length: 20249, dtype: int64

In [100]:
np.sum(pd.isnull(data["tagline"]))

25057

In [101]:
data[pd.isnull(data["tagline"])==True]

,adult,belongs_to_collection,budget,genres,id,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,Toy Story Collection,30000000.0,"[Animation, Comedy, Family]",862.0,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],...,1995-10-30,373554033.0,81.0,[English],Released,NaN,Toy Story,False,7.7,5415.0
11,False,NaN,0.0,"[Comedy, Horror]",12110.0,en,Dracula: Dead and Loving It,When a lawyer shows up at the vampire's doorst...,5.430331,"[Columbia Pictures, Castle Rock Entertainment,...",...,1995-12-22,0.0,88.0,"[English, Deutsch]",Released,NaN,Dracula: Dead and Loving It,False,5.7,210.0
27,False,NaN,0.0,"[Drama, Romance]",17015.0,en,Persuasion,This film adaptation of Jane Austen's last nov...,2.228434,[BBC Films],...,1995-09-27,0.0,104.0,[English],Released,NaN,Persuasion,False,7.4,36.0
32,False,NaN,0.0,"[Romance, Adventure]",78802.0,fr,"Guillaumet, les ailes du courage",NaN,0.745542,[Iwerks Entertainment],...,1996-09-18,0.0,50.0,[English],Released,NaN,Wings of Courage,False,6.8,4.0
35,False,NaN,11000000.0,[Drama],687.0,en,Dead Man Walking,A justice drama based on a true story about a ...,6.891317,"[Havoc, PolyGram Filmed Entertainment, Working...",...,1995-12-29,39363635.0,122.0,[English],Released,NaN,Dead Man Walking,False,7.3,350.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45459,False,NaN,0.0,[Science Fiction],222848.0,en,Caged Heat 3000,It's the year 3000 AD. The world's most danger...,0.661558,[Concorde-New Horizons],...,1995-01-01,0.0,85.0,[English],Released,NaN,Caged Heat 3000,False,3.5,1.0
45460,False,NaN,0.0,"[Drama, Action, Romance]",30840.0,en,Robin Hood,"Yet another version of the classic epic, with ...",5.683753,"[Westdeutscher Rundfunk (WDR), Working Title F...",...,1991-05-13,0.0,104.0,[English],Released,NaN,Robin Hood,False,5.7,26.0
45462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45464,False,NaN,0.0,NaN,227506.0,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,[Yermoliev],...,1917-10-21,0.0,87.0,NaN,Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0.0,NaN,461257.0,en,Queerama,50 years after decriminalisation of homosexual...,0.163015,NaN,...,2017-06-09,0.0,75.0,[English],Released,NaN,Queerama,False,0.0,0.0

어차피 텍스트마이닝에 쓸거라 Nan여도 냅둬도 될것 같아용

# 21. title

In [102]:
data["title"].describe()

count          45298
unique         42156
top       Cinderella
freq              11
Name: title, dtype: object

In [103]:
pd.value_counts(data["title"])

Cinderella                    11
Hamlet                         9
Alice in Wonderland            9
Les Misérables                 8
Beauty and the Beast           8
                              ..
Class                          1
Carnegie Hall                  1
Scar                           1
Fine, Totally Fine             1
Modigliani of Montparnasse     1
Name: title, Length: 42156, dtype: int64

In [104]:
np.sum(pd.isnull(data["title"]))

126

In [105]:
data[pd.isnull(data["title"])==True]

,adult,belongs_to_collection,budget,genres,id,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4184,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5283,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7798,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44597,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44835,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

아까 위에 나왔던 Nan 많던 세 행이랑 같아요

# 22. video

In [106]:
data["video"].describe()

count     45298
unique        2
top       False
freq      45205
Name: video, dtype: object

In [107]:
pd.value_counts(data["video"])

False    45205
True        93
Name: video, dtype: int64

In [108]:
np.sum(pd.isnull(data["video"]))

126

In [109]:
data[pd.isnull(data["video"])==True]

,adult,belongs_to_collection,budget,genres,id,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4184,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5283,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7798,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44597,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44835,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

계속 똑같은 행

In [110]:
data[data["video"]==True]

,adult,belongs_to_collection,budget,genres,id,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
5492,False,NaN,0.0,"[Action, Adventure, Animation, Comedy, Family,...",15173.0,en,Jonah: A VeggieTales Movie,"Get ready as Bob the Tomato, Larry the Cucumbe...",1.734181,[Big Idea Productions],...,2002-10-04,0.0,82.0,"[Český, English]",Released,Fresh Fish. Mixed Vegetables.,Jonah: A VeggieTales Movie,True,6.4,22.0
11469,False,Loose Change Collection,5000.0,[Documentary],14277.0,en,Loose Change: 2nd Edition,What if...September 11th was not a surprise at...,0.651714,[Polar Film Medien GmbH],...,2006-06-01,0.0,100.0,[English],Released,What really happened on 9/11?,Loose Change: 2nd Edition,True,6.3,16.0
13564,False,NaN,0.0,[Documentary],284117.0,en,Fitna,A short film in which Quran verses are shown a...,0.040068,NaN,...,2008-03-27,0.0,15.0,"[English, Nederlands]",Released,NaN,Fitna,True,1.0,1.0
14271,False,Love Hina Collection,0.0,"[Comedy, Romance, Animation, Music]",44685.0,ja,ラブひな 春スペシャル ～キミサクラチルナカレ!!～,"The tests have come, and Keitaro can only hope...",1.785708,"[TV Tokyo, Xebec]",...,2001-03-31,0.0,48.0,[日本語],Released,Spring break... Love Hina Style!!,Love Hina Spring Special - I Wish Your Dream,True,4.7,3.0
14608,False,NaN,0.0,"[Action, Adventure, Family, Fantasy]",35148.0,en,Playmobil: The Secret of Pirate Island,"Ahoy, matey! Your Favorite Playmobil toys have...",0.014168,NaN,...,2009-10-13,0.0,140.0,"[Français, English, Norsk, Português, ภาษาไทย,...",Released,NaN,Playmobil: The Secret of Pirate Island,True,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44286,False,NaN,0.0,"[Action, Animation, Horror]",161337.0,en,Underworld: Endless War,Underworld: Endless War is a collection of thr...,3.301063,NaN,...,2011-10-19,0.0,18.0,[English],Released,NaN,Underworld: Endless War,True,5.6,38.0
44798,False,NaN,0.0,"[Animation, Horror, Science Fiction]",425916.0,en,Salad Fingers,"The adventures of Salad Fingers, an unspecifie...",0.141367,NaN,...,NaT,0.0,52.0,[English],Released,NaN,Salad Fingers,True,8.5,4.0
44861,False,NaN,0.0,NaN,334795.0,ru,Конец Каникул,Four music videos of Kino band joined together...,0.000000,NaN,...,1986-01-01,0.0,23.0,[Pусский],Released,Victor Tsoy's movie debut,The End of a Vacation,True,0.0,0.0
44981,False,NaN,0.0,"[Family, Drama, Comedy]",461088.0,fa,۵۰ کیلو آلبالو,When the corrupted groom starts shooting in th...,0.034119,NaN,...,2016-03-22,0.0,89.0,[فارسی],Released,NaN,50 Kilos of Sour Cherry,True,0.0,0.0
45199,False,NaN,0.0,"[Comedy, Animation]",279687.0,en,Futurama: The Lost Adventure,"The cut-scenes from Futurama (2003) (VG), edit...",0.988667,[The Curiosity Company],...,2008-06-24,0.0,30.0,[English],Released,NaN,Futurama: The Lost Adventure,True,7.9,10.0

video 라는 변수가 의미하는 바를 모르겠어서 그냥 버리는게 나을것 같긴 한데 우선 그냥 냅둘게용

# 23. vote_average

In [111]:
data["vote_average"].describe()

count    45298.000000
mean         5.618021
std          1.921604
min          0.000000
25%          5.000000
50%          6.000000
75%          6.800000
max         10.000000
Name: vote_average, dtype: float64

In [112]:
np.sum(pd.isnull(data["vote_average"]))

126

In [113]:
data[pd.isnull(data["vote_average"])==True]

,adult,belongs_to_collection,budget,genres,id,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4184,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5283,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7798,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44597,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44835,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# 24. vote_count

In [114]:
data["vote_count"].describe()

count    45298.000000
mean       110.233785
std        492.150266
min          0.000000
25%          3.000000
50%         10.000000
75%         34.000000
max      14075.000000
Name: vote_count, dtype: float64

In [115]:
np.sum(pd.isnull(data["vote_count"]))

126

In [116]:
data[pd.isnull(data["vote_count"])==True]

,adult,belongs_to_collection,budget,genres,id,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4184,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5283,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7798,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44597,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44835,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Nan 많은 세 행 제거

In [117]:
data=data.drop([19729, 29502, 35586])

In [118]:
data[pd.isnull(data["vote_count"])==True]

,adult,belongs_to_collection,budget,genres,id,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4184,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5283,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7798,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44597,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44835,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## original_language 다시 정리

In [119]:
data["original_language"].describe()

count     45287
unique       83
top          en
freq      32204
Name: original_language, dtype: object

In [120]:
np.sum(pd.isnull(data["original_language"]))

134

In [121]:
index = pd.isnull(data["original_language"])==True

In [122]:
data.loc[index,["original_language","original_title","production_countries","spoken_languages","title","release_date"]]

,original_language,original_title,production_countries,spoken_languages,title,release_date
773,NaN,NaN,NaN,NaN,NaN,NaT
4184,NaN,NaN,NaN,NaN,NaN,NaT
5283,NaN,NaN,NaN,NaN,NaN,NaT
7778,NaN,NaN,NaN,NaN,NaN,NaT
7798,NaN,NaN,NaN,NaN,NaN,NaT
...,...,...,...,...,...,...
44576,NaN,WiNWiN,[Austria],"[Deutsch, English]",WiNWiN,2016-01-27
44597,NaN,NaN,NaN,NaN,NaN,NaT
44655,NaN,La prise de Tournavos,[France],[No Language],The Surrender of Tournavos,1897-01-01
44835,NaN,NaN,NaN,NaN,NaN,NaT
45462,NaN,NaN,NaN,NaN,NaN,NaT

original_title이랑 title이랑 같은 행은 spoken_language랑 original_language랑 같다고 봐도 될것 같아요!

song of lahore, WiNWiN은 미국 영화라 en으로

In [123]:
data.loc[[19574,21602,22832,32141,41047,41872,44576,44655],"original_language"]="en"

체코어 언어부호(ISO 639-1)는	cs

In [124]:
data.loc[37407,"original_language"]="cs"

프랑스어 언어부호(ISO 639-1)는 fr

In [125]:
data.loc[44057,"original_language"]="fr"

스웨덴어 언어부호(ISO 639-1)는 sv

In [126]:
data.loc[44410,"original_language"]="sv"

In [127]:
data.loc[index,["original_language","original_title","production_countries","spoken_languages","title","release_date"]]

,original_language,original_title,production_countries,spoken_languages,title,release_date
773,NaN,NaN,NaN,NaN,NaN,NaT
4184,NaN,NaN,NaN,NaN,NaN,NaT
5283,NaN,NaN,NaN,NaN,NaN,NaT
7778,NaN,NaN,NaN,NaN,NaN,NaT
7798,NaN,NaN,NaN,NaN,NaN,NaT
...,...,...,...,...,...,...
44576,en,WiNWiN,[Austria],"[Deutsch, English]",WiNWiN,2016-01-27
44597,NaN,NaN,NaN,NaN,NaN,NaT
44655,en,La prise de Tournavos,[France],[No Language],The Surrender of Tournavos,1897-01-01
44835,NaN,NaN,NaN,NaN,NaN,NaT
45462,NaN,NaN,NaN,NaN,NaN,NaT

# 텍스트 마이닝

In [128]:
text_data=pd.DataFrame(data[["overview","tagline","genres"]])
text_data=text_data[pd.isnull(text_data["genres"])==False]

In [129]:
text_data

,overview,tagline,genres
0,"Led by Woody, Andy's toys live happily in his ...",NaN,"[Animation, Comedy, Family]"
1,When siblings Judy and Peter discover an encha...,Roll the dice and unleash the excitement!,"[Adventure, Fantasy, Family]"
2,A family wedding reignites the ancient feud be...,Still Yelling. Still Fighting. Still Ready for...,"[Romance, Comedy]"
3,"Cheated on, mistreated and stepped on, the wom...",Friends are the people who let you be yourself...,"[Comedy, Drama, Romance]"
4,Just when George Banks has recovered from his ...,Just When His World Is Back To Normal... He's ...,[Comedy]
...,...,...,...
45458,A film archivist revisits the story of Rustin ...,"Do you know what happened 50 years before ""The...",[Horror]
45459,It's the year 3000 AD. The world's most danger...,NaN,[Science Fiction]
45460,"Yet another version of the classic epic, with ...",NaN,"[Drama, Action, Romance]"
45461,Rising and falling between a man and woman.,Rising and falling between a man and woman,"[Drama, Family]"
45463,"When one of her hits goes wrong, a professiona...",A deadly game of wits.,"[Action, Drama, Thriller]"

In [130]:
text_data["genres"]

0         [Animation, Comedy, Family]
1        [Adventure, Fantasy, Family]
2                   [Romance, Comedy]
3            [Comedy, Drama, Romance]
4                            [Comedy]
                     ...
45458                        [Horror]
45459               [Science Fiction]
45460        [Drama, Action, Romance]
45461                 [Drama, Family]
45463       [Action, Drama, Thriller]
Name: genres, Length: 42867, dtype: object

In [131]:
genres_type=[]

In [132]:
for genres in text_data["genres"]:
    for gen in genres:
        if gen not in genres_type:
            genres_type.append(gen)

In [133]:
genres_type

['Animation',
 'Comedy',
 'Family',
 'Adventure',
 'Fantasy',
 'Romance',
 'Drama',
 'Action',
 'Crime',
 'Thriller',
 'Horror',
 'History',
 'Science Fiction',
 'Mystery',
 'War',
 'Foreign',
 'Music',
 'Documentary',
 'Western',
 'TV Movie']

In [134]:
from collections import Counter

In [135]:
gen_list=[]
for genres in text_data["genres"]:
    for gen in genres:
        gen_list.append(gen)

In [136]:
gen_list[0:20]

['Animation',
 'Comedy',
 'Family',
 'Adventure',
 'Fantasy',
 'Family',
 'Romance',
 'Comedy',
 'Comedy',
 'Drama',
 'Romance',
 'Comedy',
 'Action',
 'Crime',
 'Drama',
 'Thriller',
 'Comedy',
 'Romance',
 'Action',
 'Adventure']

In [137]:
counts=Counter(gen_list)
counts

Counter({'Animation': 1928,
         'Comedy': 13141,
         'Family': 2761,
         'Adventure': 3483,
         'Fantasy': 2306,
         'Romance': 6714,
         'Drama': 20163,
         'Action': 6580,
         'Crime': 4294,
         'Thriller': 7605,
         'Horror': 4660,
         'History': 1396,
         'Science Fiction': 3039,
         'Mystery': 2461,
         'War': 1321,
         'Foreign': 1613,
         'Music': 1595,
         'Documentary': 3926,
         'Western': 1042,
         'TV Movie': 765})

In [138]:
max_len=0
for genres in text_data["genres"]:
    if len(genres)>max_len:
        max_len=len(genres)

max_len

8

In [139]:
for genres in text_data["genres"]:
    if len(genres)==max_len:
        print(genres)

['Adventure', 'Fantasy', 'Animation', 'Action', 'Comedy', 'Thriller', 'Science Fiction', 'Family']
['Fantasy', 'Animation', 'Drama', 'Science Fiction', 'Romance', 'Foreign', 'Family', 'Comedy']
['Action', 'Comedy', 'Crime', 'Drama', 'Family', 'Fantasy', 'Music', 'Thriller']

In [140]:
np.mean(pd.isnull(text_data["overview"]))

0.01625959362679917

In [141]:
np.mean(pd.isnull(text_data["tagline"]))

0.5310378612919029

- overview가 na인 경우는 1.6%, tagline이 na인 경우는 53%
- na를 빈칸으로 바꿔서 사용

 ###  overview만 이용해서 genres 예측

In [142]:
text_data[pd.isnull(text_data["overview"])==True]["overview"]

32       NaN
300      NaN
634      NaN
635      NaN
641      NaN
        ...
45342    NaN
45377    NaN
45398    NaN
45399    NaN
45410    NaN
Name: overview, Length: 697, dtype: object

In [143]:
na_ind=pd.isnull(text_data["overview"])==True
text_data.loc[na_ind,"overview"] = ""

In [144]:
text_data[pd.isnull(text_data["overview"])==True]["overview"]

Series([], Name: overview, dtype: object)

In [145]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(text_data["overview"], text_data["genres"], 
                                                    test_size=0.2, random_state=42)

In [146]:
print(X_train.shape)
print(y_train.shape)

print(X_test.shape)
print(y_test.shape)

(34293,)
(34293,)
(8574,)
(8574,)

In [147]:
X_train = X_train.reset_index()["overview"]
X_test = X_test.reset_index()["overview"]
y_train = y_train.reset_index()["genres"]
y_test = y_test.reset_index()["genres"]

In [148]:
X_train

0        General Fitzhugh, an ageing Lothario has an ov...
1        Bruno loves his wife Maxine, but his love and ...
2        After years working as a border patrolman, Jos...
3        A nurse and her surgeon-lover are part of a re...
4        Two young men, one rich, one middle class, bot...
                               ...
34288    To prevent a world war from breaking out, famo...
34289    A young teacher inspires her class of at-risk ...
34290    Tommaso Scalia is a man who commits three murd...
34291    Young Dorothy finds herself in a magical world...
34292    Michael Firch is very skilled in computers and...
Name: overview, Length: 34293, dtype: object

In [149]:
y_train

0                                            [Comedy]
1                                   [Drama, Thriller]
2                                             [Drama]
3                                    [Drama, Romance]
4                       [Action, Drama, Romance, War]
                             ...
34288    [Fantasy, Action, Thriller, Science Fiction]
34289                                  [Crime, Drama]
34290                                         [Drama]
34291                    [Adventure, Family, Fantasy]
34292           [Adventure, Comedy, Fantasy, Romance]
Name: genres, Length: 34293, dtype: object

In [150]:
from sklearn.preprocessing import MultiLabelBinarizer
multilabel_binarizer = MultiLabelBinarizer()

In [151]:
multilabel_binarizer.fit(y_train)
y_train_oe = multilabel_binarizer.transform(y_train)

In [152]:
multilabel_binarizer.fit(y_test)
y_test_oe = multilabel_binarizer.transform(y_test)

In [153]:
for i in range(5):
    print(y_train[i])
    print(y_train_oe[i],"\n")

['Comedy']
[0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]

['Drama', 'Thriller']
[0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0]

['Drama']
[0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0]

['Drama', 'Romance']
[0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0]

['Action', 'Drama', 'Romance', 'War']
[1 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 1 0]

In [154]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vect=TfidfVectorizer()

In [155]:
#train

In [156]:
tfidf_vect.fit(X_train)
X_train_tfidf_vect=tfidf_vect.transform(X_train)
X_train_tfidf_vect.shape

(34293, 65818)

In [157]:
from sklearn.linear_model import LogisticRegression
from sklearn.multiclass import OneVsRestClassifier
from sklearn.metrics import accuracy_score, f1_score

In [158]:
lr = LogisticRegression()
clf = OneVsRestClassifier(lr)

In [159]:
clf.fit(X_train_tfidf_vect, y_train_oe)

OneVsRestClassifier(estimator=LogisticRegression())

In [160]:
pred_train=clf.predict(X_train_tfidf_vect)
pred_genres_train=multilabel_binarizer.inverse_transform(pred_train)

In [161]:
pred_genres_train[0:20]

[('Comedy',),
 ('Drama',),
 ('Drama',),
 ('Drama',),
 ('Drama', 'Romance'),
 (),
 ('Drama',),
 ('Comedy',),
 ('Drama', 'Romance'),
 ('Drama',),
 ('Comedy',),
 ('Drama',),
 ('Documentary',),
 ('Drama',),
 ('Music',),
 ('Drama',),
 ('Drama',),
 ('Comedy',),
 (),
 ('Drama',)]

In [162]:
accuracy_score(y_train_oe, pred_train)

0.2536086081707637

In [163]:
f1_score(y_train_oe, pred_train, average="micro")

0.5561110441226939

In [164]:
#test

In [165]:
X_test_tfidf_vect=tfidf_vect.transform(X_test)
X_test_tfidf_vect.shape

(8574, 65818)

In [166]:
pred_test=clf.predict(X_test_tfidf_vect)
pred_genres_test=multilabel_binarizer.inverse_transform(pred_test)

In [167]:
accuracy_score(y_test_oe, pred_test)

0.18836015861908095

In [168]:
f1_score(y_test_oe, pred_test, average="micro")

0.4652675363962942

정확도는 떨어짐. 모든 장르가 같게 예측되어야 옳게 분류된 것으로 보기 때문.

### 해결 방법 1: decision threshold를 낮춘다

In [169]:
#train

In [170]:
clf.predict_proba(X_train_tfidf_vect)

array([[0.08191387, 0.02364083, 0.01779933, ..., 0.10243575, 0.01731927,
        0.02117136],
       [0.08558928, 0.02830766, 0.05489552, ..., 0.24515513, 0.01094274,
        0.01065435],
       [0.07530901, 0.04828205, 0.01988588, ..., 0.16569307, 0.04417146,
        0.01193831],
       ...,
       [0.17411432, 0.03197912, 0.0163727 , ..., 0.30349439, 0.00957928,
        0.05836878],
       [0.06963499, 0.35235271, 0.27066407, ..., 0.02567649, 0.0124544 ,
        0.02395671],
       [0.07841851, 0.19708067, 0.03021197, ..., 0.09994905, 0.0115582 ,
        0.0059542 ]])

In [171]:
clf.predict_proba(X_train_tfidf_vect)[5]

array([0.14360719, 0.06741379, 0.04268163, 0.39640795, 0.18863952,
       0.21237268, 0.29925032, 0.05312925, 0.03245491, 0.01762874,
       0.02733992, 0.05971505, 0.07259884, 0.04071892, 0.05240823,
       0.05606004, 0.01916325, 0.09509846, 0.00945239, 0.0180067 ])

In [172]:
print(pred_train[5])
print(y_train_oe[5])

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
[0 0 0 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0]

In [173]:
print(pred_genres_train[5])
print(y_train[5])

()
['Comedy', 'Drama', 'Crime']

기준을 0.3으로 낮춰보면

In [174]:
prob_train = clf.predict_proba(X_train_tfidf_vect)

new_pred_train = (prob_train >= 0.3).astype(int)

In [175]:
print(new_pred_train[5])
print(y_train_oe[5])

[0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
[0 0 0 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0]

In [176]:
new_pred_genres_train=multilabel_binarizer.inverse_transform(new_pred_train)

In [177]:
accuracy_score(y_train_oe, new_pred_train)

0.2620068235499956

In [178]:
f1_score(y_train_oe, new_pred_train, average="micro")

0.6823627461193874

In [179]:
#test

In [180]:
clf.predict_proba(X_test_tfidf_vect)

array([[0.0778718 , 0.04258115, 0.0513439 , ..., 0.06004607, 0.01141277,
        0.01227822],
       [0.09816672, 0.06441868, 0.04533157, ..., 0.11206036, 0.01552073,
        0.01887998],
       [0.02345651, 0.02076517, 0.00963246, ..., 0.04315297, 0.02819741,
        0.00704819],
       ...,
       [0.00891889, 0.01297472, 0.02122406, ..., 0.01349308, 0.01006561,
        0.00735022],
       [0.04238436, 0.01380269, 0.0384742 , ..., 0.18966954, 0.00456965,
        0.00713786],
       [0.51816053, 0.10632566, 0.03524783, ..., 0.1947872 , 0.01971947,
        0.0409913 ]])

In [181]:
clf.predict_proba(X_test_tfidf_vect)[1]

array([0.09816672, 0.06441868, 0.04533157, 0.39924334, 0.07883039,
       0.06852304, 0.40174702, 0.04760351, 0.03851513, 0.02881644,
       0.02182002, 0.06779451, 0.03032712, 0.03723426, 0.10719313,
       0.04960076, 0.01508216, 0.11206036, 0.01552073, 0.01887998])

In [182]:
print(pred_test[1])
print(y_test_oe[1])

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
[1 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0]

In [183]:
prob_test = clf.predict_proba(X_test_tfidf_vect)

new_pred_test = (prob_test >= 0.3).astype(int)

In [184]:
new_pred_genres_test=multilabel_binarizer.inverse_transform(new_pred_test)

In [185]:
accuracy_score(y_test_oe, new_pred_test)

0.16771635176113833

In [186]:
f1_score(y_test_oe, new_pred_test, average="micro")

0.5794808266231206

### 해결 방법2: 실제 장르 중 50% 이상 겹치면 맞춘 것으로 인정한다

In [187]:
#train

In [188]:
for i in range(5):
    print("실제")
    print(y_train_oe[i])
    print(y_train[i])
    print("예측")
    print(pred_train[i])
    print(pred_genres_train[i],"\n")

실제
[0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
['Comedy']
예측
[0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
('Comedy',)

실제
[0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0]
['Drama', 'Thriller']
예측
[0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0]
('Drama',)

실제
[0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0]
['Drama']
예측
[0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0]
('Drama',)

실제
[0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0]
['Drama', 'Romance']
예측
[0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0]
('Drama',)

실제
[1 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 1 0]
['Action', 'Drama', 'Romance', 'War']
예측
[0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0]
('Drama', 'Romance')

In [189]:
print(pred_genres_train[7])
print(y_train[7])

('Comedy',)
['Fantasy', 'Adventure', 'Comedy', 'Family']

그치만 이렇게 장르가 여러가지인 경우, 50% 이상 맞게 예측한다면 옳게 예측되었다고 하자

In [190]:
pred_genres_train[0:10]

[('Comedy',),
 ('Drama',),
 ('Drama',),
 ('Drama',),
 ('Drama', 'Romance'),
 (),
 ('Drama',),
 ('Comedy',),
 ('Drama', 'Romance'),
 ('Drama',)]

In [191]:
over_50=[]

for i in range(len(y_train)):
    over50=[]
    for pred in pred_genres_train[i]:
        if pred in y_train[i]:
            over50.append(1)
        else:
            over50.append(0)
    over_50.append(over50)

In [192]:
over_50[1:10]

[[1], [1], [1], [1, 1], [], [1], [1], [1, 1], [1]]

In [193]:
count=0

for i in range(len(over_50)):
    if np.sum(over_50[i])>=0.5*len(y_train[i]):
        count+=1

for i in range(10):
    print("<실제 장르의 50% 이상을 맞춘 경우>\n")
    print("총", len(over_50), "개의 데이터 중", count, "개")
    print("  - index:",i)
    print('  - 예측된 장르:', pred_genres_train[i], '-> 옳게 예측된 장르 개수:', np.sum(over_50[i]))
    print('  - 실제 장르:', y_train[i],'-> 실제 장르 개수:', len(y_train[i]),'\n')

<실제 장르의 50% 이상을 맞춘 경우>

총 34293 개의 데이터 중 18739 개
  - index: 0
  - 예측된 장르: ('Comedy',) -> 옳게 예측된 장르 개수: 1
  - 실제 장르: ['Comedy'] -> 실제 장르 개수: 1

<실제 장르의 50% 이상을 맞춘 경우>

총 34293 개의 데이터 중 18739 개
  - index: 1
  - 예측된 장르: ('Drama',) -> 옳게 예측된 장르 개수: 1
  - 실제 장르: ['Drama', 'Thriller'] -> 실제 장르 개수: 2

<실제 장르의 50% 이상을 맞춘 경우>

총 34293 개의 데이터 중 18739 개
  - index: 2
  - 예측된 장르: ('Drama',) -> 옳게 예측된 장르 개수: 1
  - 실제 장르: ['Drama'] -> 실제 장르 개수: 1

<실제 장르의 50% 이상을 맞춘 경우>

총 34293 개의 데이터 중 18739 개
  - index: 3
  - 예측된 장르: ('Drama',) -> 옳게 예측된 장르 개수: 1
  - 실제 장르: ['Drama', 'Romance'] -> 실제 장르 개수: 2

<실제 장르의 50% 이상을 맞춘 경우>

총 34293 개의 데이터 중 18739 개
  - index: 4
  - 예측된 장르: ('Drama', 'Romance') -> 옳게 예측된 장르 개수: 2
  - 실제 장르: ['Action', 'Drama', 'Romance', 'War'] -> 실제 장르 개수: 4

<실제 장르의 50% 이상을 맞춘 경우>

총 34293 개의 데이터 중 18739 개
  - index: 5
  - 예측된 장르: () -> 옳게 예측된 장르 개수: 0.0
  - 실제 장르: ['Comedy', 'Drama', 'Crime'] -> 실제 장르 개수: 3

<실제 장르의 50% 이상을 맞춘 경우>

총 34293 개의 데이터 중 18739 개
  - index: 6
  - 예측된 장르: ('Drama',) -> 옳게 예측된 장르 개수: 1
  - 실제 장르: ['Drama', 'Romance'] -> 실제 장르 개수: 2

<실제 장르의 50% 이상을 맞춘 경우>

총 34293 개의 데이터 중 18739 개
  - index: 7
  - 예측된 장르: ('Comedy',) -> 옳게 예측된 장르 개수: 1
  - 실제 장르: ['Fantasy', 'Adventure', 'Comedy', 'Family'] -> 실제 장르 개수: 4

<실제 장르의 50% 이상을 맞춘 경우>

총 34293 개의 데이터 중 18739 개
  - index: 8
  - 예측된 장르: ('Drama', 'Romance') -> 옳게 예측된 장르 개수: 2
  - 실제 장르: ['Drama', 'Comedy', 'Romance'] -> 실제 장르 개수: 3

<실제 장르의 50% 이상을 맞춘 경우>

총 34293 개의 데이터 중 18739 개
  - index: 9
  - 예측된 장르: ('Drama',) -> 옳게 예측된 장르 개수: 1
  - 실제 장르: ['Drama', 'Horror', 'Mystery', 'Thriller'] -> 실제 장르 개수: 4

In [194]:
count

18739

In [195]:
count/len(over_50)

0.5464380485813431

In [196]:
#test

In [197]:
for i in range(5):
    print("실제")
    print(y_test_oe[i])
    print(y_test[i])
    print("예측")
    print(pred_test[i])
    print(pred_genres_test[i],"\n")

실제
[0 0 0 1 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0]
['Drama', 'Romance', 'Comedy']
예측
[0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0]
('Comedy', 'Drama')

실제
[1 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0]
['Action', 'Comedy', 'Drama']
예측
[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
()

실제
[0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
['Comedy']
예측
[0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0]
('Comedy', 'Drama')

실제
[0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0]
['Drama', 'Romance']
예측
[0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0]
('Drama',)

실제
[0 1 1 1 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0]
['Romance', 'Animation', 'Family', 'Comedy', 'Adventure']
예측
[0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0]
('Comedy', 'Drama')

In [198]:
print(pred_genres_test[4])
print(y_test[4])

('Comedy', 'Drama')
['Romance', 'Animation', 'Family', 'Comedy', 'Adventure']

In [199]:
pred_genres_test[0:10]

[('Comedy', 'Drama'),
 (),
 ('Comedy', 'Drama'),
 ('Drama',),
 ('Comedy', 'Drama'),
 ('Drama',),
 ('Drama',),
 ('Drama',),
 ('Science Fiction',),
 ()]

In [200]:
over_50_test=[]

for i in range(len(y_test)):
    over50=[]
    for pred in pred_genres_test[i]:
        if pred in y_test[i]:
            over50.append(1)
        else:
            over50.append(0)
    over_50_test.append(over50)

In [201]:
over_50_test[0:10]

[[1, 1], [], [1, 0], [1], [1, 0], [1], [0], [1], [1], []]

In [202]:
count=0

for i in range(len(over_50_test)):
    if np.sum(over_50_test[i])>=0.5*len(y_test[i]):
        count+=1

for i in range(10):
    print("실제 장르의 50% 이상을 맞춘 경우")
    print(": 총", len(over_50_test), "개의 데이터 중", count, "개\n")
    print("  - index:",i)
    print('  - 예측된 장르:', pred_genres_test[i], '-> 옳게 예측된 장르 개수:', np.sum(over_50_test[i]))
    print('  - 실제 장르:', y_test[i],'-> 실제 장르 개수:', len(y_test[i]),'\n')

실제 장르의 50% 이상을 맞춘 경우
: 총 8574 개의 데이터 중 3975 개

  - index: 0
  - 예측된 장르: ('Comedy', 'Drama') -> 옳게 예측된 장르 개수: 2
  - 실제 장르: ['Drama', 'Romance', 'Comedy'] -> 실제 장르 개수: 3

실제 장르의 50% 이상을 맞춘 경우
: 총 8574 개의 데이터 중 3975 개

  - index: 1
  - 예측된 장르: () -> 옳게 예측된 장르 개수: 0.0
  - 실제 장르: ['Action', 'Comedy', 'Drama'] -> 실제 장르 개수: 3

실제 장르의 50% 이상을 맞춘 경우
: 총 8574 개의 데이터 중 3975 개

  - index: 2
  - 예측된 장르: ('Comedy', 'Drama') -> 옳게 예측된 장르 개수: 1
  - 실제 장르: ['Comedy'] -> 실제 장르 개수: 1

실제 장르의 50% 이상을 맞춘 경우
: 총 8574 개의 데이터 중 3975 개

  - index: 3
  - 예측된 장르: ('Drama',) -> 옳게 예측된 장르 개수: 1
  - 실제 장르: ['Drama', 'Romance'] -> 실제 장르 개수: 2

실제 장르의 50% 이상을 맞춘 경우
: 총 8574 개의 데이터 중 3975 개

  - index: 4
  - 예측된 장르: ('Comedy', 'Drama') -> 옳게 예측된 장르 개수: 1
  - 실제 장르: ['Romance', 'Animation', 'Family', 'Comedy', 'Adventure'] -> 실제 장르 개수: 5

실제 장르의 50% 이상을 맞춘 경우
: 총 8574 개의 데이터 중 3975 개

  - index: 5
  - 예측된 장르: ('Drama',) -> 옳게 예측된 장르 개수: 1
  - 실제 장르: ['Comedy', 'Drama'] -> 실제 장르 개수: 2

실제 장르의 50% 이상을 맞춘 경우
: 총 8574 개의 데이터 중 3975 개

  - index: 6
  - 예측된 장르: ('Drama',) -> 옳게 예측된 장르 개수: 0
  - 실제 장르: ['Comedy'] -> 실제 장르 개수: 1

실제 장르의 50% 이상을 맞춘 경우
: 총 8574 개의 데이터 중 3975 개

  - index: 7
  - 예측된 장르: ('Drama',) -> 옳게 예측된 장르 개수: 1
  - 실제 장르: ['History', 'Drama'] -> 실제 장르 개수: 2

실제 장르의 50% 이상을 맞춘 경우
: 총 8574 개의 데이터 중 3975 개

  - index: 8
  - 예측된 장르: ('Science Fiction',) -> 옳게 예측된 장르 개수: 1
  - 실제 장르: ['Action', 'Horror', 'Science Fiction'] -> 실제 장르 개수: 3

실제 장르의 50% 이상을 맞춘 경우
: 총 8574 개의 데이터 중 3975 개

  - index: 9
  - 예측된 장르: () -> 옳게 예측된 장르 개수: 0.0
  - 실제 장르: ['Western'] -> 실제 장르 개수: 1

In [203]:
count

3975

In [204]:
count/len(over_50_test)

0.4636109167249825

 ##  tagline 이용해서 genres 예측

In [205]:
na_ind=pd.isnull(text_data["tagline"])==True
text_data.loc[na_ind,"tagline"] = ""

In [206]:
text_data[pd.isnull(text_data["tagline"])==True]["tagline"]

Series([], Name: tagline, dtype: object)

In [207]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(text_data["tagline"], text_data["genres"], 
                                                    test_size=0.2, random_state=42)

In [208]:
X_train = X_train.reset_index()["tagline"]
X_test = X_test.reset_index()["tagline"]
y_train = y_train.reset_index()["genres"]
y_test = y_test.reset_index()["genres"]

In [209]:
X_train

0
1
2
3
4        Youth, hitting the clouds! Laughing at danger!...
                               ...
34288           The power of seven become a league of one.
34289              Their story. Their world. Their future.
34290
34291    We're off to see the Wizard, the wonderful Wiz...
34292
Name: tagline, Length: 34293, dtype: object

In [210]:
y_train

0                                            [Comedy]
1                                   [Drama, Thriller]
2                                             [Drama]
3                                    [Drama, Romance]
4                       [Action, Drama, Romance, War]
                             ...
34288    [Fantasy, Action, Thriller, Science Fiction]
34289                                  [Crime, Drama]
34290                                         [Drama]
34291                    [Adventure, Family, Fantasy]
34292           [Adventure, Comedy, Fantasy, Romance]
Name: genres, Length: 34293, dtype: object

In [211]:
from sklearn.preprocessing import MultiLabelBinarizer
multilabel_binarizer = MultiLabelBinarizer()
multilabel_binarizer.fit(y_train)
y_train_oe = multilabel_binarizer.transform(y_train)

In [212]:
multilabel_binarizer.fit(y_test)
y_test_oe = multilabel_binarizer.transform(y_test)

In [213]:
for i in range(5):
    print(y_train[i])
    print(y_train_oe[i],"\n")

['Comedy']
[0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]

['Drama', 'Thriller']
[0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0]

['Drama']
[0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0]

['Drama', 'Romance']
[0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0]

['Action', 'Drama', 'Romance', 'War']
[1 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 1 0]

In [214]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_vect=TfidfVectorizer()

In [215]:
#train

In [216]:
tfidf_vect.fit(X_train)
X_train_tfidf_vect=tfidf_vect.transform(X_train)

In [217]:
from sklearn.linear_model import LogisticRegression
from sklearn.multiclass import OneVsRestClassifier
from sklearn.metrics import accuracy_score, f1_score

In [218]:
lr = LogisticRegression()
clf = OneVsRestClassifier(lr)

In [219]:
clf.fit(X_train_tfidf_vect, y_train_oe)
pred_train=clf.predict(X_train_tfidf_vect)
pred_genres_train=multilabel_binarizer.inverse_transform(pred_train)

C:\ProgramData\Anaconda3\envs\testtest\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
C:\ProgramData\Anaconda3\envs\testtest\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
C:\ProgramData\Anaconda3\envs\testtest\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [220]:
pred_genres_train[0:20]

[(),
 (),
 (),
 (),
 ('Drama',),
 (),
 (),
 (),
 ('Drama', 'Romance'),
 ('Drama',),
 ('Drama',),
 (),
 (),
 (),
 (),
 (),
 ('Drama',),
 (),
 (),
 ()]

In [221]:
list(X_train)[0:20]

['',
 '',
 '',
 '',
 "Youth, hitting the clouds! Laughing at danger! Fighting, loving, dodging death! That's",
 "'Til death do they party...",
 'Too beautiful to die. Too wild to live.',
 '',
 'You never choose love. Love chooses you.',
 "Ask her no questions, she'll tell you no lies. Ask her too many and somebody dies.",
 'The most WANTED picture of the year!',
 '',
 'During an anti-war protest on May 4, 1970, four students are shot and killed at Kent State in Ohio.',
 '',
 '',
 '',
 'A quite place in the country, where reality and fantasy are too close',
 "She's Every Big-Time Rodeo Prize Rolled Into One ...pair of tight pants!",
 '',
 '']

예측 장르에 빈 튜플이 많은 이유는 애초에 tagline에 빈 칸이 많기 때문

In [222]:
accuracy_score(y_train_oe, pred_train)

0.055434053596943984

In [223]:
f1_score(y_train_oe, pred_train, average="micro")

0.2230029237008394

In [224]:
#test

In [225]:
X_test_tfidf_vect=tfidf_vect.transform(X_test)
X_test_tfidf_vect.shape

(8574, 11295)

In [226]:
pred_test=clf.predict(X_test_tfidf_vect)
pred_genres_test=multilabel_binarizer.inverse_transform(pred_test)

In [227]:
accuracy_score(y_test_oe, pred_test)

0.042220667133193376

In [228]:
f1_score(y_test_oe, pred_test, average="micro")

0.18148906778449958

정확도가 overview에 비해 떨어짐.

### 해결 방법 1: decision threshold를 낮춘다

In [229]:
#train

In [230]:
clf.predict_proba(X_train_tfidf_vect)[5]

array([0.19887814, 0.05941896, 0.02153355, 0.4267753 , 0.18286483,
       0.03282371, 0.31340843, 0.02925074, 0.04105381, 0.01755466,
       0.0171327 , 0.34115362, 0.01192935, 0.10108904, 0.04074524,
       0.08723641, 0.01432291, 0.2356126 , 0.0237528 , 0.01935769])

In [231]:
print(pred_train[5])
print(y_train_oe[5])
print(pred_genres_train[5])
print(y_train[5])

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
[0 0 0 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0]
()
['Comedy', 'Drama', 'Crime']

기준을 0.2로 낮춰보면

In [232]:
prob_train = clf.predict_proba(X_train_tfidf_vect)

new_pred_train = (prob_train >= 0.2).astype(int)

In [233]:
print(new_pred_train[5])
print(y_train_oe[5])

[0 0 0 1 0 0 1 0 0 0 0 1 0 0 0 0 0 1 0 0]
[0 0 0 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0]

In [234]:
new_pred_genres_train=multilabel_binarizer.inverse_transform(new_pred_train)

In [235]:
accuracy_score(y_train_oe, new_pred_train)

0.05327617881200245

In [236]:
f1_score(y_train_oe, new_pred_train, average="micro")

0.4953660654354667

In [237]:
#test

In [238]:
prob_test = clf.predict_proba(X_test_tfidf_vect)

new_pred_test = (prob_test >= 0.2).astype(int)

In [239]:
new_pred_genres_test=multilabel_binarizer.inverse_transform(new_pred_test)

In [240]:
accuracy_score(y_test_oe, new_pred_test)

0.03930487520410544

In [241]:
f1_score(y_test_oe, new_pred_test, average="micro")

0.4471023427866831

### 해결 방법2: 실제 장르 중 33% 이상 겹치면 맞춘 것으로 인정한다

In [242]:
#train

In [243]:
for i in range(5):
    print("실제")
    print(y_train_oe[i])
    print(y_train[i])
    print("예측")
    print(pred_train[i])
    print(pred_genres_train[i],"\n")

실제
[0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
['Comedy']
예측
[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
()

실제
[0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0]
['Drama', 'Thriller']
예측
[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
()

실제
[0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0]
['Drama']
예측
[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
()

실제
[0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0]
['Drama', 'Romance']
예측
[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
()

실제
[1 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 1 0]
['Action', 'Drama', 'Romance', 'War']
예측
[0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0]
('Drama',)

In [244]:
print(pred_genres_train[4])
print(y_train[4])

('Drama',)
['Action', 'Drama', 'Romance', 'War']

그치만 이렇게 장르가 여러가지인 경우, 33% 이상 맞게 예측한다면 옳게 예측되었다고 하자

In [245]:
over_33=[]

for i in range(len(y_train)):
    over33=[]
    for pred in pred_genres_train[i]:
        if pred in y_train[i]:
            over33.append(1)
        else:
            over33.append(0)
    over_33.append(over33)

In [246]:
over_33[0:20]

[[],
 [],
 [],
 [],
 [1],
 [],
 [],
 [],
 [1, 1],
 [1],
 [0],
 [],
 [],
 [],
 [],
 [],
 [1],
 [],
 [],
 []]

In [247]:
count=0

for i in range(len(over_33)):
    if np.sum(over_33[i])>=len(y_train[i])/3:
        count+=1

for i in range(10):
    print("실제 장르의 33% 이상을 맞춘 경우")
    print(": 총", len(over_33), "개의 데이터 중", count, "개\n")
    print("  - index:",i)
    print('  - 예측된 장르:', pred_genres_train[i], '-> 옳게 예측된 장르 개수:', np.sum(over_33[i]))
    print('  - 실제 장르:', y_train[i],'-> 실제 장르 개수:', len(y_train[i]),'\n')

실제 장르의 33% 이상을 맞춘 경우
: 총 34293 개의 데이터 중 7282 개

  - index: 0
  - 예측된 장르: () -> 옳게 예측된 장르 개수: 0.0
  - 실제 장르: ['Comedy'] -> 실제 장르 개수: 1

실제 장르의 33% 이상을 맞춘 경우
: 총 34293 개의 데이터 중 7282 개

  - index: 1
  - 예측된 장르: () -> 옳게 예측된 장르 개수: 0.0
  - 실제 장르: ['Drama', 'Thriller'] -> 실제 장르 개수: 2

실제 장르의 33% 이상을 맞춘 경우
: 총 34293 개의 데이터 중 7282 개

  - index: 2
  - 예측된 장르: () -> 옳게 예측된 장르 개수: 0.0
  - 실제 장르: ['Drama'] -> 실제 장르 개수: 1

실제 장르의 33% 이상을 맞춘 경우
: 총 34293 개의 데이터 중 7282 개

  - index: 3
  - 예측된 장르: () -> 옳게 예측된 장르 개수: 0.0
  - 실제 장르: ['Drama', 'Romance'] -> 실제 장르 개수: 2

실제 장르의 33% 이상을 맞춘 경우
: 총 34293 개의 데이터 중 7282 개

  - index: 4
  - 예측된 장르: ('Drama',) -> 옳게 예측된 장르 개수: 1
  - 실제 장르: ['Action', 'Drama', 'Romance', 'War'] -> 실제 장르 개수: 4

실제 장르의 33% 이상을 맞춘 경우
: 총 34293 개의 데이터 중 7282 개

  - index: 5
  - 예측된 장르: () -> 옳게 예측된 장르 개수: 0.0
  - 실제 장르: ['Comedy', 'Drama', 'Crime'] -> 실제 장르 개수: 3

실제 장르의 33% 이상을 맞춘 경우
: 총 34293 개의 데이터 중 7282 개

  - index: 6
  - 예측된 장르: () -> 옳게 예측된 장르 개수: 0.0
  - 실제 장르: ['Drama', 'Romance'] -> 실제 장르 개수: 2

실제 장르의 33% 이상을 맞춘 경우
: 총 34293 개의 데이터 중 7282 개

  - index: 7
  - 예측된 장르: () -> 옳게 예측된 장르 개수: 0.0
  - 실제 장르: ['Fantasy', 'Adventure', 'Comedy', 'Family'] -> 실제 장르 개수: 4

실제 장르의 33% 이상을 맞춘 경우
: 총 34293 개의 데이터 중 7282 개

  - index: 8
  - 예측된 장르: ('Drama', 'Romance') -> 옳게 예측된 장르 개수: 2
  - 실제 장르: ['Drama', 'Comedy', 'Romance'] -> 실제 장르 개수: 3

실제 장르의 33% 이상을 맞춘 경우
: 총 34293 개의 데이터 중 7282 개

  - index: 9
  - 예측된 장르: ('Drama',) -> 옳게 예측된 장르 개수: 1
  - 실제 장르: ['Drama', 'Horror', 'Mystery', 'Thriller'] -> 실제 장르 개수: 4

In [248]:
count

7282

In [249]:
count/len(over_33)

0.2123465430262736

In [250]:
#test

In [251]:
for i in range(5):
    print("실제")
    print(y_test_oe[i])
    print(y_test[i])
    print("예측")
    print(pred_test[i])
    print(pred_genres_test[i],"\n")

실제
[0 0 0 1 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0]
['Drama', 'Romance', 'Comedy']
예측
[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
()

실제
[1 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0]
['Action', 'Comedy', 'Drama']
예측
[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
()

실제
[0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
['Comedy']
예측
[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
()

실제
[0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0]
['Drama', 'Romance']
예측
[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
()

실제
[0 1 1 1 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0]
['Romance', 'Animation', 'Family', 'Comedy', 'Adventure']
예측
[0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0]
('Drama',)

In [252]:
print(pred_genres_test[4])
print(y_test[4])

('Drama',)
['Romance', 'Animation', 'Family', 'Comedy', 'Adventure']

In [253]:
over_33_test=[]

for i in range(len(y_test)):
    over33=[]
    for pred in pred_genres_test[i]:
        if pred in y_test[i]:
            over33.append(1)
        else:
            over33.append(0)
    over_33_test.append(over33)

In [254]:
over_33_test[0:20]

[[],
 [],
 [],
 [],
 [0],
 [1],
 [],
 [1],
 [1],
 [],
 [],
 [1],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [1]]

In [255]:
count=0

for i in range(len(over_33_test)):
    if np.sum(over_33_test[i])>=len(y_test[i])/3:
        count+=1

for i in range(10):
    print("실제 장르의 33% 이상을 맞춘 경우")
    print(": 총", len(over_33_test), "개의 데이터 중", count, "개\n")
    print("  - index:",i)
    print('  - 예측된 장르:', pred_genres_test[i], '-> 옳게 예측된 장르 개수:', np.sum(over_33_test[i]))
    print('  - 실제 장르:', y_test[i],'-> 실제 장르 개수:', len(y_test[i]),'\n')

실제 장르의 33% 이상을 맞춘 경우
: 총 8574 개의 데이터 중 1495 개

  - index: 0
  - 예측된 장르: () -> 옳게 예측된 장르 개수: 0.0
  - 실제 장르: ['Drama', 'Romance', 'Comedy'] -> 실제 장르 개수: 3

실제 장르의 33% 이상을 맞춘 경우
: 총 8574 개의 데이터 중 1495 개

  - index: 1
  - 예측된 장르: () -> 옳게 예측된 장르 개수: 0.0
  - 실제 장르: ['Action', 'Comedy', 'Drama'] -> 실제 장르 개수: 3

실제 장르의 33% 이상을 맞춘 경우
: 총 8574 개의 데이터 중 1495 개

  - index: 2
  - 예측된 장르: () -> 옳게 예측된 장르 개수: 0.0
  - 실제 장르: ['Comedy'] -> 실제 장르 개수: 1

실제 장르의 33% 이상을 맞춘 경우
: 총 8574 개의 데이터 중 1495 개

  - index: 3
  - 예측된 장르: () -> 옳게 예측된 장르 개수: 0.0
  - 실제 장르: ['Drama', 'Romance'] -> 실제 장르 개수: 2

실제 장르의 33% 이상을 맞춘 경우
: 총 8574 개의 데이터 중 1495 개

  - index: 4
  - 예측된 장르: ('Drama',) -> 옳게 예측된 장르 개수: 0
  - 실제 장르: ['Romance', 'Animation', 'Family', 'Comedy', 'Adventure'] -> 실제 장르 개수: 5

실제 장르의 33% 이상을 맞춘 경우
: 총 8574 개의 데이터 중 1495 개

  - index: 5
  - 예측된 장르: ('Comedy',) -> 옳게 예측된 장르 개수: 1
  - 실제 장르: ['Comedy', 'Drama'] -> 실제 장르 개수: 2

실제 장르의 33% 이상을 맞춘 경우
: 총 8574 개의 데이터 중 1495 개

  - index: 6
  - 예측된 장르: () -> 옳게 예측된 장르 개수: 0.0
  - 실제 장르: ['Comedy'] -> 실제 장르 개수: 1

실제 장르의 33% 이상을 맞춘 경우
: 총 8574 개의 데이터 중 1495 개

  - index: 7
  - 예측된 장르: ('Drama',) -> 옳게 예측된 장르 개수: 1
  - 실제 장르: ['History', 'Drama'] -> 실제 장르 개수: 2

실제 장르의 33% 이상을 맞춘 경우
: 총 8574 개의 데이터 중 1495 개

  - index: 8
  - 예측된 장르: ('Science Fiction',) -> 옳게 예측된 장르 개수: 1
  - 실제 장르: ['Action', 'Horror', 'Science Fiction'] -> 실제 장르 개수: 3

실제 장르의 33% 이상을 맞춘 경우
: 총 8574 개의 데이터 중 1495 개

  - index: 9
  - 예측된 장르: () -> 옳게 예측된 장르 개수: 0.0
  - 실제 장르: ['Western'] -> 실제 장르 개수: 1

In [256]:
count

1495

In [257]:
count/len(over_33_test)

0.17436435735945882